/*!
 * http://suyati.github.io/line-control
 * LineControl 1.1.0
 * This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with this library; if not, write to the Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
 *
*/

@charset "utf-8";
/* base styles */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	/*font: inherit;*/
	vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: "";
	content: none;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

#myProgress {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: #ddd;
}

#myBar {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: #4CAF50;
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input,select {
	vertical-align: middle;
}

/**
 * Nudge down to get to 13px equivalent for these form elements
 */
select,input,button,textarea,button {
	font: 99% arial, helvetica, clean, sans-serif;
}

/**
 * To help tables remember to inherit
 */
table {
	font-size: inherit;
	font-size: 100%;
}

/**
 * Bump up IE to get to 13px equivalent for these fixed-width elements
 */
pre,code,kbd,samp,tt {
	font-family: monospace;
	*font-size: 108%;
	line-height: 100%;
}

/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE
html { overflow-y: scroll; } */

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover,a:active {
	outline: none;
}
ol {
	list-style-type: decimal;
}

/* Remove margins for navigation lists */
nav ul,nav li {
	margin: 0;
	list-style: none;
	list-style-image: none;
}

small {
	font-size: 85%;
}

strong,th {
	font-weight: bold;
}

td {
	vertical-align: top;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre {
	/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 15px;
}

textarea {
	overflow: auto;
}

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend,.ie7 legend {
	margin-left: -7px;
}

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="checkbox"] {
	vertical-align: bottom;
}
/* .ie7 input[type="checkbox"] { vertical-align: baseline; } */
.ie6 input {
	vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
input[type="button"],input[type="submit"],input[type="image"],button {
	cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,input,select,textarea {
	margin: 0;
}

/* Colors for form validity */
input:valid,textarea:valid {

}

input:invalid,textarea:invalid {
	border-radius: 1px;
	-moz-box-shadow: 0px 0px 5px red;
	-webkit-box-shadow: 0px 0px 5px red;
	box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,.no-boxshadow textarea:invalid {
	background-color: #f0dddd;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection {
	background: #999;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #999;
	color: #fff;
	text-shadow: none;
}

/* j.mp/webkit-tap-highlight-color */
a:link {
	-webkit-tap-highlight-color: #FF5E99;
}

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
	width: auto;
	overflow: visible;
}

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
	-ms-interpolation-mode: bicubic;
}

/**
 * You might tweak these..
 */
body,select,input,textarea {
	/* Set your base font here, to apply evenly */
	font-family: Lucida Grande, Droid Sans, Tahoma, Helvetica, sans-serif;
}

body,input,textarea {
		/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
		color: #212121;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}

a,a:active,a:visited {
	color: #607890;
}

a:hover {
	color: #036;
}

/**
 * Primary styles
 *
 * Author:
 */

 /*~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=*/
 /*                   STYLES BEGIN                         */
 /*~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=*/

 /************** General Styles *****************/
 a {
 	text-decoration: none;
 }

 #master-wrapper {
 	font-size: 90%;
 }

 /************** Footer Layout ******************/
 html,body {
 	height: 100%;
 }

 /*html {
 	background: url("../img/bg.png") repeat scroll 0 0;
 }*/
 body {
 	filter: none !important;
 	margin: 0;
 	padding: 0;
 	border: 0;
 	/* This removes the border around the viewport in old versions of IE */
 	width: 100%;
 	min-width: 900px;
 	/* Minimum width of layout - remove line if not required */
 	/* The min-width property does not work in old versions of Internet Explorer */
 }

 #master-wrapper {
 	min-height: 1px;
 	position: relative;
 	/*background-color: #A2C4C9;*/
 	/*background-size: cover;*/
 	/*background-position: 0px 108px;*/
 }

 .main_bg {
 	background: url('../img/Ansaldo_STS_Htachi_neg.jpg') no-repeat center center;
   padding-bottom: 750px;
	 margin-top: -50px;
	 /*margin-left: 0px;
	 margin-right: 50px;*/
 }

 /** html #master-wrapper {
 	height: 100%
 }*/

 #container {
 	padding-bottom: 30px;
 	min-height:350px;
 }

 #container:after {
 	content: " ";
 	display: block;
 	clear: both;
 }

 /************** Footer Styles ******************/
 #footer {
 	position: fixed;
 	bottom: 0;
 	height: 28px !important;
 	overflow: hidden;
 	width: 100%;
 	margin: 0;
 	padding: 0;
 	/*background: #FFF;*/
 	border-top: #E2E6E8 1px solid;
     background: url("../img/lightbg.gif") repeat-x scroll 0 0;
     border-top: 1px solid #e2e6e8;
 }

 #footer p {
 	line-height: 27px;
 	padding: 0 8px;
 	color: #51636D;
 	font-size: 90%;
 }

 /************** Content ************************/
 #content {
 	padding: 10px;
 }

 /************** Section ************************/
 .section {
 	border: #F2F8FB 1px solid;
 	border-right: #C3D2DB 1px solid;
 	border-bottom: #C3D2DB 1px solid;
 	background: #E8EEF1 url("../img/lightbg.gif") left -10px repeat-x;
 	margin: 5px;
 	-moz-box-shadow: 1px 1px 3px #666;
 	-webkit-box-shadow: 1px 1px 3px #666;
 	box-shadow: 1px 1px 3px #000;
 	border-radius: 5px;
 }

 .ie6 .field-group,.ie7 .field-group,.ie8 .field-group {
 	border: none;
 }

 .ie6 .section,.ie7 .section,.ie8 .section {
 	border-right: #72828C 1px solid;
 	border-bottom: #72828C 1px solid;
 }

 .section h1 {
 	padding: 8px 8px 5px 8px;
 	color: #20394F;
 	font-size: 110%;
 	font-weight: bold;

 	/* text-shadow: 1px 1px 0px #C1CCD4; */
 }

 .ie6 .section h1,.ie7 .section h1,.ie8 .section h1 {
 	/* behavior: url(PIE.htc); */

 }

 .section-toolbar {
 	background: #E8EEF1 url("../img/lightbg.gif") left -25px repeat-x;
 	margin: 5px 0 0 0;
 	padding: 4px 10px;
 	border-bottom: #D9E0E3 1px solid;
 }

 .section-content {
 	padding: 10px;
 }

 .field-group { /*border: #F2F8FB 1px solid;

 	-moz-box-shadow: 1px 1px 3px #B1BEC5;
 	-webkit-box-shadow: 1px 1px 3px #B1BEC5;
 	box-shadow: 1px 1px 3px #B1BEC5;*/
 	border: transparent 1px solid;
 	background: #DEE4E8 url("../img/subsection-bg.png") 0 -5px repeat-x;
 	background-clip: border-box;
 	border-radius: 5px;
 }

 .ie6 .field-group,.ie7 .field-group,.ie8 .field-group {
 	/* behavior: url(PIE.htc); */

 }

 .field-group h2 {
 	color: #3A444C;
 	font-weight: 800;
 	padding: 8px 10px;
 	border-bottom: #E8EEF1 1px solid;

 	/* text-shadow: 1px 1px 0px #C1CCD4; */
 }

 .field-group input {
 	float: none;
 	padding-right: 0;
 	padding-left: 0;
 	margin: 0;
 	border: none;
 	border-collapse: collapse;
 	outline: none;
 }

 /************* Field Containers ******************/
 .field-container {
 	margin: 10px 10px;
 }

 .field-container label,.field-container.radio span,.field-container.checkbox span
 	{
 	float: none;
 	display: block;
 	line-height: 1.2;
 	margin-bottom: 2px;
 	font-size: 100%;
 	color: #3A444C;
 	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
 	-o-user-select: none;
 	user-select: none;
 }

 #traps-select-all-label {
 	display: inline;
 	font-weight: bold !important;
 	padding: 0 !important;
 }

 .field-container.text label,.field-container.select label,.field-container.checkbox label,.field-container.textarea label,.field-container.radio span
 	{
 	font-weight: normal;
 }

 .field-container.radio label {
 	font-weight: normal;
 }

 .field-container.radio span,.field-container.checkbox span {
 	margin-bottom: 5px;
 }

 .field-container.text input,.field-container.textarea textarea {
 	background-color: transparent !important;
 	font-weight: bold;
 }
 .field-container.textarea textarea {
 	font-family: monospace !important;
 }
 .iw.readonly {
 	background-color: #E8EEF1;
 }

 .iw.cal {

 }

 .field-container.text input,.field-container.textarea textarea,.field-container.select select
 	{
 	display: block;
 	float: none;
 	width: 100%;
 	padding-right: 0;
 	padding-left: 0;
 	margin: 0;
 	border: none;
 	border-collapse: collapse;
 	outline: none;
 	max-width: 100% !important;
 }

 .field-container.text input,.field-container.textarea textarea {
 	padding-top: 3px;
 	padding-bottom: 3px;
 }

 .ie6 .field-container.text input,.ie6 .field-container.textarea textarea,.ie7 .field-container.text input,.ie7 .field-container.textarea textarea
 	{
 	padding-top: 2px;
 	padding-bottom: 2px;
 }

 .iw {
 	padding-top: 0;
 	padding-bottom: 0;
 	padding-left: 2px;
 	padding-right: inherit;
 	background-color: #fff;
 	border: #A2B5C1 1px solid;
 	border-right: #C7D0D6 1px solid;
 	border-bottom: #C7D0D6 1px solid;
 }

 .iw.suffix {
 	padding-right: 60px;
 }

 .iw.suffix span {
 	line-height: 1.5;
 	display: block;
 	float: right;
 	position: relative;
 	left: 54px;
 	margin-top: -1.8em;
 	text-align: right;
 	font-size: 85%;
 	color: #666;
 }

 .ie6 .iw.suffix span,.ie7 .iw.suffix span {
 	margin-top: -1.5em;
 }

 .ie8 .iw.suffix span {
 	margin-top: -1.5em;
 }

 .highlight-field {
 	background-color: #F7F793;
 }

 .invalid-field {
 	background: #FFCCD1 url(../img/error-field.png) right center no-repeat
 		!important;
 	border: #AF7F81 1px solid;
 	border-right: #CAA4A8 1px solid;
 	border-bottom: #CAA4A8 1px solid;
 }

 .invalid-field.suffix {
 	background-image: none;
 }

 .invalid-field.suffix span {
 	padding-left: 12px;
 	background: #FFCCD1 url(../img/error-field.png) left 1px no-repeat;
 }

 .ie6 .invalid-field {
 	background-image: none !important;
 }

 .ie6 .invalid-field.suffix span {
 	background: none !important;
 }

 .validation-error {
 	color: #580F0F;
 	font-weight: normal;
 	line-height: 1.35;
 	font-size: 85%;
 }

 .default-information {
 	color: #580F0F;
 	font-weight: normal;
 	line-height: 1.35;
 	font-size: 85%;
 	float: left;
 	margin-top: 5px;
 }

 .current-information {
 	font-weight: normal;
 	line-height: 1.35;
 	font-size: 85%;
 	float: left;
 	margin-top: 5px;
 }

 .field-container.select select {
 	padding: 2px 1px;
 }

 .field-container.select .iw {
 	padding: 0;
 }

 .ie6 .field-container.select .iw,.ie7 .field-container.select .iw {
 	border: none;
 }

 .field-container.radio label,.field-container.checkbox label {
 	padding: 0 10px 0 0;
 	cursor: pointer;
 	font-size: 100%;
 	float: left;
 	width: auto;
 	white-space: nowrap;
 }

 .ie6 .field-container.checkbox {
 	width: 0;
 }

 .field-container.radio input,.field-container.checkbox input {
 	margin: 0px 4px 0px 0;
 	position: relative;
 	top: -1px;
 }

 .ie6 input.fix-ibox-padding,.ie7 input.fix-ibox-padding {
 	left: -3px;
 }

 .ie6 input.fix-ibox-padding,.ie7 input.fix-ibox-padding,.ie8 input.fix-ibox-padding
 	{
 	margin: -4px 1px -2px -4px;
 }

 .config-container {
 	margin: 10px auto;
 	width: 680px;
 }

 /************* Vital Health **********************/
 #vhealth {
 	color: #007932;
 }

 #vhealth.vhealth-bad {
 	color: #D9291C !important;
 }

 /************* System Info ***********************/
 .sysinfo {
 	margin: 0;
 	padding: 10px 10px;
 }

 .sysinfo-thin {
 	margin: 0;
 	padding: 4px 10px;
 }

 .sysinfo.alt, .sysinfo-thin.alt {
 	background-color: #D7DCE1;
 }

 .sysinfo label, .sysinfo-thin label {
 	float: left;
 }

 .sysinfo.iw, .sysinfo-thin.iw {
 	float: right;
 }

 .sysinfo span.info, .sysinfo-thin span.info {
 	float: right;
 	font-weight: bold;
 	color: #333;
 }

 /************* Disableds *************************/
 input.is-disabled,textarea.is-disabled,.iw.is-disabled input
 .iw.is-disabled textarea {
 	color: #444 !important;
 	-moz-user-select: text !important;
 }

 .iw.is-disabled,select.is-disabled,.unauth .iw,.unauth select {
 	background: #E4E9EC !important;
 	border: #D5D9DE 1px solid;
 }

 /************* Tables ****************************/
 .data-table {
 	width: 100%;
 	border: 0;
 }

 .data-table th,.data-table td {
 	/*line-height: 0.2;*/
 	margin-bottom: 2px;
 	/*font-size: 100%;*/
 	padding: 8px;
 	text-align: left;
	font-size: 12px;
 }

 .data-table th {
 	color: #3A444C;
 	background: #CED4D9;
 	vertical-align: top;
 	-webkit-background-clip: border-box;
 	-moz-background-clip: border-box;
 	background-clip: border-box;
 }

 #bitandvars-groups-list td {
 	margin: 0;
 	padding: 0;
 }

 .scroll {
 	padding: 0 !important;
 	overflow: hidden;
 	overflow-y: scroll;
	overflow-x: scroll;
 	width: 100%;
 }


 .data-table-scroll {
 	width: 100%;
 }

 tr.alt td {
 	background: #D7DCE1;
 }

 tr.delimiter td {
 	background: #00008B;
 	color:      #E5E5E5;
 }

 .table-scroll div.scroll-wrapper {

 }

 .snmp-trap-desc {
 	/* width: 400px; */
 }

 .snmp-trap-prty {
 	width: 100px;
 }

 .snmp-trap-repb {
 	width: 100px;
 }

 .snmp-trap-occu {
 	width: 100px;
 }

 .snmp-trap-time {
 	width: 100px;
 }

 .snmp-trap-dely {
 	width: 100px;
 }

 th.snmp-trap-dely {
 	width: 117px;
 }

 .ie6 th.snmp-trap-repb,.ie6 th.snmp-trap-occu,.ie6 th.snmp-trap-time,.ie7 th.snmp-trap-repb,.ie7 th.snmp-trap-occu,.ie7 th.snmp-trap-time,.ie6 th.snmp-trap-dely,.ie7 th.snmp-trap-dely
 	{
 	width: 100px !important;
 }

 .evt-col-source {
 	width: 64px;
 }

 .evt-col-id {
 	width: 64px;
 }

 .evt-col-level {
 	width: 100px;
 }

 .evt-col-type {
 	width: 50px;
 }

 .evt-col-message {
 	width: auto !important;
 	font-weight: bold;
 }

 .evt-col-timestamp {
 	width: 140px;
 }

 th.evt-col-timestamp {
 	width: 157px;
 }

 .ie6 th.evt-col-timestamp,.ie7 th.evt-col-timestamp {
 	width: 140px !important;
 }

 .intable {

 }

 #evt-table-wrapper {
 	float: left;
 	width: 100%;
 }

 #evt-table tr.odd {
 	background-color: #DCE2E6;
 }

 #evt-wrapper-table {

 }

 #evt-navbar {
 	float: left;
 	line-height: 26px;
 }

 #evt-navbar img {
 	margin-bottom: -3px;
 }

 #page-cur,#page-total {
 	font-weight: bold;
 }

 /************* Buttons ***************************/
 .button {
 	text-decoration: none;
 	font-weight: bold;
 	font-size: 90%;
 	background: url("../img/lightbg.gif") 0 0px repeat-x;
 	color: #2e4355 !important;
 	border: #a9bdca 1px solid;
 	border-top: #e0e6eb 1px solid;
 	border-left: #e0e6eb 1px solid;
 	line-height: 2.18em;
 	padding: 0px 6px;
 	outline: none;
 	display: block;
 	float: left;
 	position: relative;
 	white-space: nowrap;
 	border-radius: 4px;
 	cursor: pointer;
 }

 a.button {
 	height: 2.18em;
 	margin: 0 5px;
 }
 a.config_btn {
     border-radius: 10px;
     box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
     color: #EEEEEE !important;
     cursor: pointer;
     padding: 5px 25px;
 }
 a.config_btn:hover, a.config_btn:focus {
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
 }
 a.cfg_apply {
     background: #93c47d none repeat scroll 0 0;
     border: 1px solid #33842a;
 }
 a.cfg_apply:hover, a.cfg_apply:focus {
     background-color: #399630;
 }
 a.cfg_discard {
     background: #e06666 none repeat scroll 0 0;
     border: 1px solid #693630;
 }
 a.cfg_discard:hover, a.cfg_discard:focus {
     background-color: #693630;
 }

 input.button {
 	border: none;
 	line-height: 1em;
 	padding: 5px 6px;
 }

 .button.disabled {
 	border: #e0e6eb 1px solid;
 	background: #D8DFE3;
 	color: #BDC3C7;
 }

 .button-wrap {
 	border: #a9bdca 1px solid;
 	border-top: #e0e6eb 1px solid;
 	border-left: #e0e6eb 1px solid;
 }

 .button:hover,.button.active {
 	background: #C7D1D9;
 	outline: none !important;
 }

 .button.disabled {
 	border: #e0e6eb 1px solid !important;
 	background: #D8DFE3 !important;
 	color: #919598 !important;
 }

 a.button:active,.button.down,.button-wrap.down {
 	background: #d0d8de;
 	border-left: #a9bdca 1px solid !important;
 	border-top: #a9bdca 1px solid !important;
 	border-bottom: #e0e6eb 1px solid !important;
 	border-right: #e0e6eb 1px solid !important;
 	top: 1px;
 	outline: none !important;
 }

 .button.down {
 	font-weight: bold;
 }

 .button img {
 	display: block;
 	float: left;
 	position: relative;
 	top: 4px;
 	margin-right: 4px;
 }

 /************** Header Layout/Style ************/
 #header {
 	width: 100%;
 	/*background: #577995 url('../img/top_bg.gif') left 11px repeat-x;*/
 	/*overflow: hidden;*/
 }

 #header h1 {
 	display: block;
   position: absolute;
 	width: 100%;
   left: 0;
   text-align: center;
 	margin:-160px auto;
 	z-index: 2;
 }

 #header h1 #logo{
 	/*display: block;*/
 	margin: 0px;
   color: white;
   font-size: 40px;
   text-decoration: none;
 	/*background: #577995 url("../img/top_bg.png") repeat-x scroll 0 0;*/
 	/*font-family: "Arial Black", Gadget, sans-serif;*/
 }

 /************** Simple Shadow ***************************/
 .shadow-1 {
 	-moz-box-shadow: 0px 2px 3px #000;
 	-webkit-box-shadow: 0px 2px 3px #000;
 	box-shadow: 0px 2px 3px #000;
 }

 /************** Prevent scrollbars *********************/
 .no-scrollbars {
 	overflow: hidden !important;
 }

 /******** status top bar **********/
 #statusbar,#opts-menu {
 	float: right;
 }

 #statusbar {
 	padding-left: 10px;
 	margin: 0;
 }

 .top-info {
 	color: #DCE3E8;
 	font-size: 90%;
 }

 .top-info li {
 	display: block;
 	float: left;
 	line-height: 2;
 }

 .top-info li .info {
 	padding: 0 15px 0 5px;
 	font-weight: bold;
 }

 /*********** Dropdowns ************/
 #top-bar {
 	height: 24px;
 	width: 100%;
 	z-index: 3;
 	position: relative;
 }

 .dropdown {
 	float: left;
 }

 .dropdown .current {
 	display: block;
 	padding: 0px 6px;
 	line-height: 2;
 	color: #efefef !important;
 	font-weight: bold;
 }

 .dropdown .current:hover {
 	background: url(../img/top_bg.gif) 0px -50px repeat-x;
 }

 .dropdown .current.active,.dropdown .current.active:hover {
 	background: url(../img/top_bg.gif) 0px -90px repeat-x;
 }

 .dropdown .choices {
 	position: absolute;
 	width: 100px;
 	visibility: hidden;
 	margin: 0;
 }

 .dropdown.rightmost .choices {
 	left: 100%;
 	width: 140px;
 	margin-left: -140px;
 }

 .dropdown .choices li {
 	display: block;
 	width: 100%;
 }

 .dropdown .choices li a {
 	display: block;
 	width: 100%;
 	font-weight: bold;
 	line-height: 2;
 	color: #333;
 	background: #E9EEF1 url(../img/lightbg.gif) 0 -30px repeat-x;
 }

 .dropdown .choices li a span {
 	padding: 0 6px;
 }

 .dropdown .choices li a:hover {
 	background: #CBD4DA;
 	color: #20394F;
 }

 #config-dowpdown {
 	margin: -1px 0 0 0;
 	padding: 0;
 	list-style: none;
 	background: #DEE4E8;
 	border: #CFD7DD 1px solid;
 	border-top: #DEE4E8 1px solid;
 	float: left;
 	width: 126px;
 	line-height: 1 !important;
 }

 #config-dowpdown li {
 	display: block;
 	float: left;
 	margin: 0;
 	padding: 0;
 }

 #config-dowpdown a {
 	display: block;
 	margin: 10px 8px;
 }

 /************** Top information *********************/

 .onboard-information {
  	/*background: url('../img/top_bg.png') repeat-x scroll left -13px #577995;*/
  	padding: 10px;
  	/*padding-top: 17px;*/
 	margin-left: 320px;
 }
 .onboard-name-div {
  	margin-right:350px;
  	overflow:hidden;
 }
 .onboard-other-div {
  	float: right;
 	padding-right: 40px;
 }
 .onboard-other-div div {
  	padding:3px;
 	text-align: right;
 }
 .onboard-name-label-div {
  	/*float:left; */
 	padding: 8px 2px;
 }
 .onboard-information input {
 	border: solid 2px #000;
 /*	padding-left:5px;
 	padding-right:5px;*/
 	padding:0;
 	height: 23px;
 }

 .onboard-other-div input {
 	padding-left:5px;
 	padding-right:5px;
 	margin: 0 5px;
 	text-align: center;
 }
 .onboard-other-div span {
 	padding-top: 2px;
 }
 .input-div {
 	border: solid 2px #000;
 	background: #FFF;
 	min-width: 200px;
 	padding: 0 5px;
 }
 .onboard-information input#board-id {
 	border:none;
 	min-width: 200px;
 	width: 100%;
 	height: 100%;
 }
 .onboard-information input#operation-mode {
 /*	width: 70px;*/
 }
 .onboard-information input#board-time {
 }
 .onboard-information span {
 	font-weight: bold;
 	color: #FFF;
 }
 .operation-mode-on {
 	background-color: #1BD335;
 }
 .operation-mode-config {
 	background-color: #B5842E;
 }
 .operation-mode-off {
 	background-color: #1BD335;
 }
 .operation-mode-unknown {
 	background-color: #AAA;
 }

 /************** Navigation *********************/

 .nav-wrap {
 	background: #20394F;
 	clear:left;
 }
 .field-container a:hover {
 	background-color: #D7DCE1;
 }
 .nav,#nav-sub {
 	/*line-height: 15px;*/
 	font-weight: bold;
 	font-size: 100%;
 	margin: 0;
 }
 #nav-sub {
 	clear:both
 }
 .nav li,#nav-sub li {
 	display: block;
 	/*float: left;*/
 	/*padding: 0 1px;*/
 }
 .nav li a,#nav-sub li a {
 	display: block;
 /*	padding: 8px 10px;
 	margin: 0;*/
 	/*padding: 2px 6px;
 	margin: 6px 4px;*/
 }
 .nav li a {
 	color: #fff !important;
 /*	border: 2px solid #000;
 	border-left: none;*/
 	/*width: 160px;*/
 }
 .nav li div ul li a {
 	padding: 8px 10px;
 	margin: 0;
 }
 .nav li a:hover {
 /*	background: #fff;*/
 	color: #fff !important;
 }
 .nav li a.active, .nav li a:hover {
 	background: #607890;
 }
 #nav-sub {
 	background: #E9EEF1;
 	border-top: #E2E6E8 1px solid;
 	border-bottom: #CFD7DD 1px solid;
 }

 #nav-sub li a {
 	color: #20394F;
 }

 #nav-sub li a:hover {
 	text-decoration: underline;
 }

 #nav-sub li a.active {
 	color: #f0f0f0;
 	background: #385A76;
 }
 .nav li div{
 	display: none;
 }
 .nav li:hover div{
 	/*display: block;*/
 	position: absolute;
 /*	background: #EEE;*/
 	padding: 0;
 	margin: 0;
 /*	border: 2px #000 solid;*/
 	border-top: none;
 	background: #E9EEF1;
 /*	border-top: #E2E6E8 1px solid;*/
 /*	border-bottom: #CFD7DD 1px solid;*/

 }
 .nav li:hover div ul, .nav li:hover div ul li {
 	margin: 0;
 	border: none;
 	float:none;
 }
 .nav li:hover div ul li a
 {
 	color: #20394F !important;
 	/*background: #FFF;*/
 	border: none;
 	border-top: #E2E6E8 1px solid;
 	border-bottom: #CFD7DD 1px solid;

 }
 .nav li:hover div ul li a:hover
 {
 /*	background: #EEE;*/
 	text-decoration: underline;
 }
 .nav li:hover div ul li a:active
 {
 	color: #f0f0f0;
 	background: #385A76;
 }

 img.bg_ie8fix {
   /* Set rules to fill background */
   min-height: 100%;
   min-width: 1024px;

   /* Set up proportionate scaling */
   width: 100%;
   height: auto;

   /* Set up positioning */
   position: fixed;
   top: 108px;
   left: 0;
 }

 /************ Upload Progress ***********/
 #progress-label {
 	text-align: center;
 	border-top: #eee 1px solid;
 	margin-top: 5px;
 	padding-top: 5px;
 }

 #upload-percentage {
 	font-weight: bold;
 	padding: auto 10px;
 }

 /************ Login ******************/
 #login-error,.error-msg {
 	text-align: center;
 	color: #A11301;
 	margin: 5px 0;
 	font-weight: bold;
 }

 .success-msg {
 	text-align: center;
 	color: #61832C;
 	margin: 5px 0;
 	font-weight: bold;
 }
 /************ POPUP **********************/
 .popup {
 	position: fixed;
 	top: 25%;
 	width: 600px;
 	left: 50%;
 	margin-left: -300px;
 	z-index: 1000;
 }

 .popup-height-adjust {
 	max-height: 300px;
 	overflow-y: auto;
 }

 .ie6 .popup,.ie7 .popup {
 	position: absolute;
 	bottom: auto;
 	top: expression(eval(document.documentElement.scrollTop) +

 		     0.25 *           document.documentElement.clientHeight )
 		!important;
 }
 #overlay {
 	position: fixed;
 	top: 0;
 	left: 0;
 	margin: 0;
 	padding: 0;
 	width: 100%;
 	height: 100%;
 	background: #000;
 	z-index: 1000;
 }
 #dataloading {
 	position: fixed;
 	top: 0;
 	left: 0;
 	margin: 0;
 	padding: 0;
 	width: 100%;
 	height: 100%;
 	background-color: rgba (0,0,0,0);
 	z-index: 1001;
 }

 .ie6 #overlay,.ie7 #overlay, .ie6 #dataloading, .ie7 #dataloading {
 	position: absolute;
 	bottom: auto;
 	/*height: expression(document.body.clientHeight + "px");*/
 	top: expression(eval(document.documentElement.scrollTop) );
 }

 /******************** Container dimensional classes ****************************/
 .container-wrapper {
 	float: left;
 }

 .per5 {
 	width: 5%;
 }

 .per10 {
 	width: 10%;
 }

 .per22 {
 	width: 22%;
 }

 .per25 {
 	width: 25%;
 }

 .per33 {
 	width: 33.3%;
 }

 .per50 {
 	width: 50%;
 }

 .per75 {
 	width: 75%;
 }

 /********************** SNMP Boxes *****************************************/
 .snmp-inplace {
 	border: #A2B5C1 1px solid;
 	background: #fff;
 	width: 48px;
 }

 /********************* Locomotive Command **********************************/
 #runtime_panel, #history_panel, #adjustment_panel, #appconfig_panel, #sysconfig_panel {
 	position: absolute;
 	width: 260px;
 	top: -1000px;
 	left: -1000px;
 }

 #lcommand-panel .section {
 	border-radius: 0 0 5px 5px;
 }

 .fullheight {
 	background: #E8EEF1;
 	padding: 0;
 	margin: 0
 }

 .fullheight .section {
 	height: 100%;
 	border: none !important;
 	padding: 0 !important;
 	margin: 0 !important;
 	border-radius: 0 0 0 0 !important;
 	box-shadow: none ! important;
 }

 .fullheight .section .section-content {
 	margin-bottom: 32px;
 }

 .fullheight .section .bottom-toolbar{
 	position: absolute;
 	bottom: 32px;
 	width: 100%;
 	padding: 3px 0 1px 0;
 	margin: 0;
 	border: none;
 }

 .fullheight .fullheight-inner {
 	position: relative;
 }


 .clr-date-btn {
 	display: block; float: right; font-size: 80%; line-height: 1; padding-top: 4px;
 }


 /**
  * Non-semantic helper classes: please define your styles before this section.
  */

 /* For image replacement */
 .ir {
 	display: block;
 	text-indent: -999em;
 	overflow: hidden;
 	background-repeat: no-repeat;
 	text-align: left;
 	direction: ltr;
 }

 /* Hide for both screenreaders and browsers:
    css-discuss.incutio.com/wiki/Screenreader_Visibility */
 .hidden {
 	display: none;
 	visibility: hidden;
 }

 /* Hide only visually, but have it available for screenreaders: by Jon Neal.
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
 .visuallyhidden {
 	border: 0;
 	clip: rect(0, 0, 0, 0);
 	height: 1px;
 	margin: -1px;
 	overflow: hidden;
 	padding: 0;
 	position: absolute;
 	width: 1px;
 }
 /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
 .visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
 	clip: auto;
 	height: auto;
 	margin: 0;
 	overflow: visible;
 	position: static;
 	width: auto;
 }

 /* Hide visually and from screenreaders, but maintain layout */
 .invisible {
 	visibility: hidden;
 }

 /* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
    j.mp/bestclearfix */
 .clearfix:before,.clearfix:after {
 	content: "\0020";
 	display: block;
 	height: 0;
 	overflow: hidden;
 }

 .clearfix:after {
 	clear: both;
 }
 /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
 .clearfix {
 	zoom: 1;
 }

 /**
  * Media queries for responsive design.
  *
  * These follow after primary styles so they will successfully override.
  */
 @media all and (orientation:portrait) {
 	/* Style adjustments for portrait mode goes here */
 }

 @media all and (orientation:landscape) {
 	/* Style adjustments for landscape mode goes here */
 }

 /* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
    consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
 @media screen and (max-device-width: 480px) {
 	/* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
 	/* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
 }

 /**
  * Print styles.
  *
  * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
  */
 @media print {
 	* {
 		background: transparent !important;
 		color: black !important;
 		text-shadow: none !important;
 		filter: none !important;
 		-ms-filter: none !important;
 	} /* Black prints faster: sanbeiji.com/archives/953 */
 	a,a:visited {
 		color: #444 !important;
 		text-decoration: underline;
 	}
 	a[href]:after {
 		content: " (" attr(href) ")";
 	}
 	abbr[title]:after {
 		content: " (" attr(title) ")";
 	}
 	.ir a:after,a[href ^="javascript:"]:after,a[href ^="#"]:after {
 		content: "";
 	} /* Don't show links for images, or javascript/internal links */
 	pre,blockquote {
 		border: 1px solid #999;
 		page-break-inside: avoid;
 	}
 	thead {
 		display: table-header-group;
 	} /* css-discuss.incutio.com/wiki/Printing_Tables */
 	tr,img {
 		page-break-inside: avoid;
 	}
 	@page {
 		margin: 0.5cm;
 	}
 	p,h2,h3 {
 		orphans: 3;
 		widows: 3;
 	}
 	h2,h3 {
 		page-break-after: avoid;
 	}
 }
 /* system information page */
 .sys-adjust-number {
     width: 30px;
 }
 .sys-adjust-event {
     width: 200px;
 }
 .sys-adjust-time {
     width: 200px;
 }
 /* event log and error log papges */
 .logpage-img {
     width: 32px;
 }
 .logpage-num {
     width: 44px;
 }
 .logpage-time {
     width: 145px;
 }
 .logpage-source {
     width: 65px;
 	display: none;
 }
 .logpage-codes {
     width: 135px;
 }
 .logpage-img img {
 	height: 16px;
 	width: 16px;
 }
 /* bits and variables page */
 #list-table-cell {
 	/*ackground-color: #f9feff;*/
 }
 .bitandvars-table-id {
     width: 40px;
 }
 .bitandvars-table-symbol {
     width: 200px;
 	   overflow: hidden;
		 height:30px;
 }
 .bitandvars-table-value {
     width: 105px;
		 height:30px;
 }
 .bitandvars-table-commands {
     width: 116px;
 }
 td.bitandvars-table-commands {
     padding: 4px 8px;
		 width:116px;
		 height:30px;
 }
 .data-table th.bitandvars-table-graph,
 .data-table td.bitandvars-table-graph,
 .data-table th.bitandvars-table-textdata,
 .data-table td.bitandvars-table-textdata {
     background: none;
 }
 .bitandvars-table-graph {
     display: none;
     white-space: nowrap;
     overfolw: hidden;
     width: auto;
 }
 .data-table td.bitandvars-table-graph {
     margin: 0;
     padding: 0;
 }
 .data-table th.bitandvars-table-textdata {
     display: table-cell;
     padding: 0px;
 }
 .bitandvars-textdata {
 	margin-left: 10px;
 	padding: 20px 10px 10px 10px;
 	width: auto;
 	border:1px solid #000000
 }
 .toscroll {
 	height: 30px;
 	width: auto;
 	font-size: 0;
 }
 .timestate {
 	height: 30px;
 	width: 30px !important;
 	display: inline-table;
 	font-size: 12px;
 	margin: 0;
 	padding: 0;
 	text-align: left;
 	vertical-align: middle;
 }
 .ts-lo-go {
 	background: url(../img/bitandvars/lowlevel_go.png) right center no-repeat;
 }
 .ts-lo-on {
 	background: url(../img/bitandvars/lowlevel_on.png) right center no-repeat;
 }
 .ts-lo-of {
 	background: url(../img/bitandvars/lowlevel_off.png) right center no-repeat;
 }
 .ts-lo-dn {
 	background: url(../img/bitandvars/lowlevel_down.png) right center no-repeat;
 }
 .ts-hi-go {
 	background: url(../img/bitandvars/highlevel_go.png) right center no-repeat;
 }
 .ts-hi-on {
 	background: url(../img/bitandvars/highlevel_on.png) right center no-repeat;
 }
 .ts-hi-of {
 	background: url(../img/bitandvars/highlevel_off.png) right center no-repeat;
 }
 .ts-hi-up {
 	background: url(../img/bitandvars/highlevel_up.png) right center no-repeat;
 }
 .ts-off {
 	background: url(../img/bitandvars/signal_off.png) right center no-repeat;
 }
 .ts-no {
 	background: url(../img/bitandvars/timeline.png) right center no-repeat;
 }
 .ts-md-on {
 	background: url(../img/bitandvars/midlevel_on.png) right center no-repeat;
 }
 .ts-md-of {
 	background: url(../img/bitandvars/midlevel_off.png) right center no-repeat;
 }
 .ts-md-go {
 	background: url(../img/bitandvars/midlevel_go.png) right center no-repeat;
 }
 #horscroller, #horscroller1 {
 	font-size: 0;
 }
 #bitandvars-groups-list {
 	margin: 0;
 	padding: 0;
 }
 .group-button, .group-button-active {
 	text-decoration: none;
 	font-weight: bold;
 	font-size: 90%;
 	background: url("../img/lightbg.gif") 0 0px repeat-x;
 	color: #2e4355 !important;
 	border: #a9bdca 1px solid;
 	border-top: #e0e6eb 0px solid;
 	border-left: #e0e6eb 1px solid;
 	line-height: 2.18em;
 	padding: 5px 11px;
 	outline: none;
 	display: block;
 	float: left;
 	position: relative;
 	white-space: nowrap;
 	border-radius: 4px;
 }

 a.group-button, a.group-button-active {
 	height: 2.1em;
 }
 a.group-button-active {
 	/*background-color: #f9feff;*/
 	color: #0044ee !important;
 	border-left-color: #0033ff;
 	border-right-color: #0033ff;
 	border-bottom-color: #0033ff;
 }

 .group-button-active {
 	background: none;
 	outline: none !important;
 }
 .little-command-button {
 	text-decoration: none;
 	font-weight: normal;
 	font-size: 80%;
 	background: url("../img/lightbg.gif") 0 0px repeat-x;
 	color: #2e4355 !important;
 	border: #a9bdca 1px solid;
 	border-top: #e0e6eb 0px solid;
 	border-left: #e0e6eb 1px solid;
 	line-height: 2.18em;
 	padding: 0 6px;
 	outline: none;
 	display: block;
 	float: left;
 	position: relative;
 	white-space: nowrap;
 	border-radius: 4px;
 }

 a.little-command-button {
 	height: 2.18em;
 }

 #ui-datepicker-div {
     font-size: 80%;
 }

 .event-log-icon {
     height: 17px;
     width: 17px;
     vertical-align: middle;
     margin-top: -3px;
 }

 .data-table-scroll tr:nth-child(even) {
     background-color: #d7dce1;
 }

 .data-table-scroll tr{
 	cursor: pointer;
 }

 .information-popup-innercontainer{
 	height:200px;
 	width: calc(100% - 10px);
 	background-color: #ffffff;
 	padding: 5px;
 	overflow-y: auto;
 }

 .hide{
 	display:none;
 }

 .user-data-log-dynamic-checkbox-wrapper{
 	padding : 10px 10px 0px 10px;
 }

 .general-configuration-dynamic-list-wrapper{
 	float:left;
 	width:25%;
 	padding-bottom: 5px;
 }
 .general-configuration-dynamic-labels{
 	font-size: 85%;
 }

 .txt-ip {
     padding-top: 0 !important;
     padding-bottom: 0 !important;
     padding-left: 2px !important;
     padding-right: inherit !important;
     background-color: #fff !important;
     border: #A2B5C1 1px solid !important;
     border-right: #C7D0D6 1px solid !important;
     border-bottom: #C7D0D6 1px solid !important;
 }

/********************** Sidebar Navigation Menu *****************************************/
.navbar-default {
   background-color: #607890;
   border-color: #333;
}
a{
   /*color: #ffffff !important;*/
   text-decoration: none;
   font-weight: bold;
}
.sidebar ul li a.active {
   background-color: #333;
}
.sidebar ul li{
   background: #20394F url(../img/top_bg.gif) left -89px repeat-x;
}
.nav-second-level li a{
   background-color: #607890;
   border-top: 1px solid #e7e7e7 !important;
}
.nav > li > a:focus, .nav>li>a:hover {
   text-decoration: none;
   background-color: #20394F;
}

/********************** SiteID & DateStamp Header *****************************************/
.navbar-brand-site
{
    position: absolute;
    width: 100%;
    left: -32px;
    text-align: center;
    margin:-130px auto;
    z-index:-1;
}
.navbar-brand-date
{
    position: absolute;
    width: 100%;
    left: -15px;
    text-align: center;
    margin:-110px auto;
    z-index:-1;
}

.site-value
{
	color: white;
	margin-top: -130px;
	text-align: center;
	width: 100%;
	position: absolute;
	left: 142px;
	font-weight: 700;
  z-index:-1;
}
.site-value1
{
	/*color: white;*/
	margin-top: -130px;
	text-align: center;
	width: 100%;
	/*position: absolute;*/
	margin-left: 96px;
	font-weight: 700;
  z-index:-1;
}
.date-value
{
	color: white;
	margin-top: -108px;
	text-align: center;
	width: 100%;
	position: absolute;
	left: 77px;
	font-weight: 700;
  z-index:-1;
}

.submit-buttons {
    background-color: transparent;
    margin-top: 50px;
		margin-left:-150px;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: red;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


@media (max-width: 1250px) {
  .col-lg-2 {
    width : 100% !important;
  }
}

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

@media (min-width: 1839px) {
    body {
        overflow-y:hidden;
    }
}

@media (min-width: 1500px) {
    body {
				overflow-x:hidden;
    }
}
