<% include header %>
     <div style="margin: -40px auto;">
			<div class="fullheight clearfix">
				<div class="section clearfix" style="width: 100%; margin: 10px auto;">
					<div class="section-toolbar clearfix" style="background: none;">
						<div class="popup-buttons" style="float: left;">
							<h2 style="float: left;margin-top:8px;font-size:13px;color: #20394F;">Bit & Variable Display</h2>
						</div>
						<div class="iw" style="display:inline-block; margin: 3px 30px 3px 50px; padding:0; float: left;">
							<input id="find_field" class="userinput" maxlength="30" style="width:200px; border: none; background: none;">
						</div>
						<div class="popup-buttons" style="float:left; margin: 0 40px 0 0;">
							<a id="info_all_btn" class="button" href="#" onclick="return false;">ALL</a>
							<a id="info_none_btn" class="button" href="#" onclick="return false;">NONE</a>
						</div>
						<div class="popup-buttons" style="float:left; margin: 0 -20px;">
							<a id="info_pause_btn" class="button" href="#" onclick="return false;">START</a>
							<a id="info_clear_btn" class="button" href="#" onclick="return false;">CLEAR</a>
						</div>
						<div class="popup-buttons" style="float:left; margin: 0 10px 0 30px;">
							<h2 style="float: left; padding: 5px; margin: 4px;font-size:12px;">Display Mode:</h2>
							<a id="info_mode_btn" class="button" style="margin: 0 20px 0 0;" href="#" onclick="return false;">Graphical</a>
						</div>
						<div style="float:left; margin: 0 10px 0 -2px;">
							<label style="padding: 3px;font-size:12px;margin: 4px;" for="boardselector">Bit & Variable Text Display Mode time messages:</label>
								<select name="boardselector" class="cfgproc">
									<option>None</option>
									<option>Monitored bits only</option>
									<option>All processing times</option>
								</select>
						</div>
						<div class="popup-buttons" style="float: right">
							<a id="info_groups_btn" class="button" style="margin: 0 10px;" href="#" onclick="return false;">Symbol Groups</a>
							<a id="info_save_btn" class="button" href="#" onclick="return false;">Save</a>
						</div>
					</div>
				 	<div id="bitandvars-information" class="section-content clearfix" style="height:100%;">
						<div id="sys-adjust-table-wrapper" class="clearfix" style="float: left; width: 100%;">
							<table cellspacing="0" cellpadding="0" border="0" id="sys-adjust-wrapper-table" class="data-table"  style="table-layout:fixed;">
								<tbody>
									<tr>
										<th class="bitandvars-table-id"><a style="font-size:13px;" id="sort_id" href="#" onclick="return false;" > ID <span id="sortflag_palceholder_0"></span></a></th>
										<th class="bitandvars-table-symbol"><a style="font-size:13px;" id="sort_name" href="#" onclick="return false;" > Symbol <span id="sortflag_palceholder_1"></span></a></th>
										<th class="bitandvars-table-commands" style="font-size:13px;"> Commands </th>
										<th class="bitandvars-table-value" style="font-size:13px;"> Value </th>
										<th class="bitandvars-table-graph" style="overflow: hidden; display: table-cell;padding: 0; padding-right: 20px; font-weight: normal;">
											<div id="horscroller1" style="overflow: hidden;">
											</div>
										</th>
										<th class="bitandvars-table-textdata" rowspan="3">
											<div class="clearfix fullheight-inner2 bitandvars-textdata" style="height: 181px; width: auto; padding: 0;">
												<textarea id="var_mon_data_field" class="cfgproc" name="var_mon_data_field" style="background: transparent; border: 0;height: 100%; width: 100%;" readonly="" ></textarea>
											</div>
										</th>
									</tr>
									<tr>
										<td id="list-table-cell" style="padding: 0 !important" colspan="4" style="border:1px solid #000000;">
											<div id="bitandvars-table-scroll" class="scroll clearfix fullheight-inner" style="height: 400px;">
												<table id="bitandvars-table" class="data-table-scroll" style="table-layout:fixed;">
													<tbody id="bitandvars-table-tbody-1" style="">
														<tr id="delimiter" class="delimiter intable">
															<td class="bitandvars-table-id">--</td>
															<td class="bitandvars-table-symbol">end of active symbols</td>
															<td class="bitandvars-table-commands"></td>
															<td class="bitandvars-table-value">--</td>
															<td id="delimiter_td" class="bitandvars-table-graph">
																<div style="z-index: -1;overflow: hidden;">
																	<div id="graph_template" class="toscroll">
																	</div>
																</div>
															</td>
														</tr>
													</tbody>

												</table>
											</div>
										</td>
									</tr>
									<tr>
										<td id="bitandvars-groups-list" colspan="4">
											<div style="overflow-y: hidden; overflow-x: scroll;width:426px;height: 50px;">
												<table><tr id="group-row-container">
												</tr></table>
											</div>
										</td>
										<td class="bitandvars-table-graph" style="overflow: hidden; padding-right: 20px;">
											<div id="horscroller" style="overflow-x: scroll;">
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
</div>
</div>
</div>
<script src="/public/js/bitandvars.js"></script>
<% include footer %>
