<% include header %>
	<div style="width: 580px; margin: -50px auto;">
		<div class="fullheight" style="background: none;">
			<div style="margin: 10px auto;">
				<div class="section clearfix" style="border-radius: 5px !important; border-style: solid !important; border-width: 1px !important; box-shadow: 1px 1px 3px #000 !important; border-color: #f2f8fb #c3d2db #c3d2db #f2f8fb !important;">
					<div class="section-toolbar clearfix" style="background: none;">
						<div class="popup-buttons" style="float: left;">
							<h2 style="float: left;margin-top:0px;font-size:13px;color: #20394F;">Timer Configuration</h2>
						</div>
					</div>
					<div class="section-content clearfix" style="margin: 0;">
						<div id="TimerList" class="scroll clearfix fullheight-inner" style="height: 600px;"></div>
						<div class="field-container text clearfix" style="float: left; margin: 10px 0 0 10px;">
							<img style="float: left; display: block;" src="public/img/Warning.png">
							<label style="width: 80px; float: left; margin-top: 5px;font-size:13px;" for="LogicTimeout"> = Vital</label>
							<img style="float: left; display: block;" src="public/img/error.png">
							<label style="width: 80px; float: left; margin-top: 5px;font-size:13px;" for="LogicTimeout"> = Fixed</label>
							<img style="float: left; display: block;" src="public/img/accept.png">
							<label style="width: 80px; float: left; margin-top: 5px;font-size:13px;" for="LogicTimeout"> = Adjustable</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include footer %>
<script src="/public/js/conf_timers.js"></script>
