<% include header %>
<div id="cpu_base" style="margin-top:-50px;">
	<div class="section clearfix" style="width: 860px; margin: 10px auto;">
		<div class="section-toolbar clearfix" style="background: none;">
			<div style="padding:5px 0px 10px 10px; clear: both">
				<div>
				<label style="font-size:13px;border-bottom: #E8EEF1 1px solid;width:100%;padding-right:76	0px;color: #20394F;" id="lbl_cpu_base">CPU Board</label>
			 </div>
				<label style="width:227px;display:inline-block; margin-top: 7px; margin-right:10px; float: left;font-size:12px;font-weight:100;">Front Panel Ethernet Ports Configuration</label>
			</div>
		</div>
	<div class="field-group clearfix" style="margin: 0 10px 10px 0;float:left;width:50%;">
		<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
			<div style="padding:5px 0px 10px 10px; clear: both">
				<div>
				<label style="font-size:13px;border-bottom: #E8EEF1 1px solid;width:100%;padding-right:410px;padding-bottom:6px;">ETHA</label>
			 </div>
				<label style="width:77px; display:inline-block; margin-top: 3px; margin-right:10px; float: left;font-size:12px;font-weight:100;">Port Enable:</label>
				<img id="img_cpu_base_etha" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px;margin-left:6px;" src="public/img/error.png">
				<div id="div_cpu_base_etha" style="width: 0px; height:20px; float: left; margin: 0 5px; padding-right:5px">
					<input type="checkbox" id="chk_cpu_base_etha" name="chkcpubaseetha" style="margin-right:5px;float:left; margin-top:5px">
				</div>
				<div style="width: 120px; height:20px; float: left;">
					<label id="current_cpu_base_etha" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
					<label id="default_cpu_base_etha" style="font-size:85%;coImplementationIDlor:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;margin-right:34px;">[default: set]</label>
				</div>
			</div>
			<div style="padding:5px 0px 10px 10px; clear: both">
				<label style="width:84px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Local Address:</label>
				<img id="cpu_base_etha_img_local_address_1A" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/accept.png">
				<div style="float:left; margin: 0 5px 0 5px">
					<input id="cpu_base_etha_local_address_1A1" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEtha" type="text">&nbsp;.
					<input id="cpu_base_etha_local_address_1A2" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEtha" type="text">&nbsp;.
					<input id="cpu_base_etha_local_address_1A3" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEtha" type="text">&nbsp;.
					<input id="cpu_base_etha_local_address_1A4" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEtha" type="text">
				</div>
				<div style="float: left;margin-left:6px">
					<label id="cpu_base_etha_lbl_current_local_address_1A" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
					<label id="cpu_base_etha_lbl_default_local_address_1A" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;margin-right:34px">[default: 169.254.1.100]</label>
				</div>
			</div>
			<div style="padding:5px 0px 10px 10px; clear: both">
				<label style="width:78px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Subnet Mask:</label>
				<img id="cpu_base_etha_img_subnet_mask_1A" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:11px;margin-left:6px;" src="public/img/accept.png">
				<div style="float:left; margin: 0 5px 0 5px">
					<input id="cpu_base_etha_subnet_mask_1A1" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEtha" type="text">&nbsp;.
					<input id="cpu_base_etha_subnet_mask_1A2" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEtha" type="text">&nbsp;.
					<input id="cpu_base_etha_subnet_mask_1A3" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEtha" type="text">&nbsp;.
					<input id="cpu_base_etha_subnet_mask_1A4" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEtha" type="text">
				</div>
				<div style="float: left;margin-left:6px">
					<label id="cpu_base_etha_lbl_current_subnet_mask_1A" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
					<label id="cpu_base_etha_lbl_default_subnet_mask_1A" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;margin-right:34px;">[default: 255.255.255.0]</label>
				</div>
			</div>
			<div style="padding:5px 0px 10px 10px; clear: both">
				<label style="width:56px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Gateway:</label>
				<img id="cpu_base_etha_img_gateway_1A" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px;margin-left:30px;" src="public/img/accept.png">
				<div style="float:left; margin: 0 5px 0 5px">
					<input id="cpu_base_etha_gateway_1A1" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEtha" type="text">&nbsp;.
					<input id="cpu_base_etha_gateway_1A2" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEtha" type="text">&nbsp;.
					<input id="cpu_base_etha_gateway_1A3" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEtha" type="text">&nbsp;.
					<input id="cpu_base_etha_gateway_1A4" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEtha" type="text">
				</div>
				<div style="float: left;margin-left:-161px;margin-top:17px;">
					<label id="cpu_base_etha_current_gateway_1A" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
					<label id="cpu_base_etha_destination_gateway_1A" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;margin-right:34px;">[default: 169.254.1.1]</label>
				</div>
			</div>
		</div>
	</div>
	<div class="field-group clearfix" style="margin: -216px -1px 13px 0;float:right;width:50%;">
		<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
			<div style="padding:5px 0px 10px 10px; clear: both">
				<div>
				<label style="font-size:13px;border-bottom: #E8EEF1 1px solid;width:100%;padding-right:410px;padding-bottom:6px;">ETHB</label>
			 </div>
				<label style="width:77px; display:inline-block; margin-top: 3px; margin-right:10px; float: left;font-size:12px;font-weight:100;">Port Enable:</label>
				<img id="img_cpu_base_ethb" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px;margin-left:6px;" src="public/img/accept.png">
				<div id="div_cpu_base_ethb" style="width: 0px; height:20px; float: left; margin: 0 5px; padding-right:5px">
					<input type="checkbox" id="chk_cpu_base_ethb" name="chkcpubaseethb" style="margin-right:5px;float:left; margin-top:5px">
				</div>
				<div style="width: 120px; height:20px; float: left;">
					<label id="current_cpu_base_ethb" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
					<label id="default_cpu_base_ethb" style="font-size:85%;coImplementationIDlor:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;margin-right:34px;">[default: set]</label>
				</div>
			</div>
			<div style="padding:5px 0px 10px 10px; clear: both">
				<label style="width:84px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Local Address:</label>
				<img id="cpu_base_ethb_img_local_address_1A" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/accept.png">
				<div style="float:left; margin: 0 5px 0 5px">
					<input id="cpu_base_ethb_local_address_1A1" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEthb" type="text">&nbsp;.
					<input id="cpu_base_ethb_local_address_1A2" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEthb" type="text">&nbsp;.
					<input id="cpu_base_ethb_local_address_1A3" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEthb" type="text">&nbsp;.
					<input id="cpu_base_ethb_local_address_1A4" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEthb" type="text">
				</div>
				<div style="float: left;margin-left:6px">
					<label id="cpu_base_ethb_current_local_address_1A" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
					<label id="cpu_base_ethb_default_local_address_1A" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;margin-right:34px;">[default: 169.254.2.100]</label>
				</div>
			</div>
			<div style="padding:5px 0px 10px 10px; clear: both">
				<label style="width:78px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Subnet Mask:</label>
				<img id="cpu_base_ethb_img_subnet_mask_1A" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:11px;margin-left:6px;" src="public/img/accept.png">
				<div style="float:left; margin: 0 5px 0 5px">
					<input id="cpu_base_ethb_subnet_mask_1A1" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEthb" type="text">&nbsp;.
					<input id="cpu_base_ethb_subnet_mask_1A2" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEthb" type="text">&nbsp;.
					<input id="cpu_base_ethb_subnet_mask_1A3" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEthb" type="text">&nbsp;.
					<input id="cpu_base_ethb_subnet_mask_1A4" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEthb" type="text">
				</div>
				<div style="float: left;margin-left:6px">
					<label id="cpu_base_ethb_lbl_current_subnet_mask_1A" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
					<label id="cpu_base_ethb_lbl_default_subnet_mask_1A" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;margin-right:34px;">[default: 255.255.255.0]</label>
				</div>
			</div>
			<div style="padding:5px 0px 10px 10px; clear: both">
				<label style="width:56px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Gateway:</label>
				<img id="cpu_base_ethb_img_gateway_1A" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px;margin-left:30px;" src="public/img/accept.png">
				<div style="float:left; margin: 0 5px 0 5px">
					<input id="cpu_base_ethb_gateway_1A1" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEthb" type="text">&nbsp;.
					<input id="cpu_base_ethb_gateway_1A2" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEthb" type="text">&nbsp;.
					<input id="cpu_base_ethb_gateway_1A3" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEthb" type="text">&nbsp;.
					<input id="cpu_base_ethb_gateway_1A4" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="cpubaseEthb" type="text">
				</div>
				<div style="float: left;margin-left:-161px;margin-top:17px;">
					<label id="cpu_base_ethb_current_gateway_1A" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
					<label id="cpu_base_ethb_default_gateway_1A" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;margin-right:34px;">[default: 169.254.2.1]</label>
				</div>
			</div>
		</div>
	</div>
	<div class="field-container text clearfix" style="float: left; margin: 10px 0 10px 10px;">
		<img style="float: left; display: block;" src="public/img/Warning.png">
		<label style="width: 80px; float: left; margin-top: 5px;" for="LogicTimeout"> = Vital</label>
		<img style="float: left; display: block;" src="public/img/error.png">
		<label style="width: 80px; float: left; margin-top: 5px;" for="LogicTimeout"> = Fixed</label>
		<img style="float: left; display: block;" src="public/img/accept.png">
		<label style="width: 80px; float: left; margin-top: 5px;" for="LogicTimeout"> = Adjustable</label>
	</div>
</div>
				<div class="section clearfix" style="width: 860px; margin: 10px auto;">
					<div class="section-toolbar clearfix" style="background: none;">
						<div class="popup-buttons" style="float: left;">
							<h2 style="float: left;margin-top:0px;font-size:13px;color: #20394F;">CPU Board Network Routing</h2>
						</div>
					</div>

			 		<div id="route-conf-area" class="section-content clearfix">
						<div class="field-container text clearfix">
							<label for="route-command" style="font-size:13px;font-weight:100;">Route add or route del command</label>
							<div class="iw" style="width: 740px; float:left; margin-top: 2px">
								<input id="route-command" class="cfgproc" maxlength="200" name="route-command">
							</div>
							<a id="route_submit_btn" class="button" href="#" style="float: right;">Submit</a>
						</div>
						<div class="field-container textarea clearfix">
							<label for="route-log-field" style="font-size:13px;font-weight:100;">Routing table</label>
							<div class="iw">
								<textarea id="route-log-field" class="cfgproc" name="route-log-field" style="height: 400px;overflow-y: scroll;font-size:13px;" readonly="" ></textarea>
							</div>
						</div>
			 		</div>
				</div>
					<div class="section clearfix" style="width: 860px; margin: 10px auto;">
				<div class="field-group clearfix" style="margin: 0 0px 10px 0px;width:50%;">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:30px; float: left; text-align:right;font-size:12px;font-weight:100;">Baud Rate:</label>
							<img id="baud_rate_1_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div class="container-wrapper per60" style="width:170px">
								<div class="field-container select clearfix" style="margin:0px 0px">
									<select name="stationselector" id="baud_rate_1" class="cfgproc" style="margin-left: 5px;font-size:12px;">
										<!-- <option selected disabled hidden value=""></option> -->
									</select>
								</div>
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="baud_rate_1_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="baud_rate_1_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:39px; float: left; text-align:right;font-size:12px;font-weight:100;">Stop Bits:</label>
							<img id="stop_bits1_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_stop_bits_1" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="stop_bits_1" style="height:18px; width:100%;margin-top:-3px; background-color: transparent;font-size:12px;" name="StopBits1" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="stop_bits_1_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="stop_bits_1_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:55px; float: left; text-align:right;font-size:12px;font-weight:100;">Parity:</label>
							<img id="parity_1_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div class="container-wrapper per60" style="width:170px">
								<div class="field-container select clearfix" style="margin:0px 0px">
									<select name="stationselector" id="parity_1" class="cfgproc" style="margin-left: 5px;font-size:12px;">
										<!-- <option selected disabled hidden value=""></option> -->
									</select>
								</div>
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="parity_1_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="parity_1_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Key-On Delay:</label>
							<img id="key_on_delay_1_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_key_on_delay_1" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="key_on_delay_1" style="height:18px; width:100%;margin-top:-3px; background-color: transparent;font-size:12px;" name="LogTimeout" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="key_on_delay_1_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="key_on_delay_1_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Key-Off Delay:</label>
							<img id="key_off_delay_1_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_key_off_delay_1" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="key_off_delay_1" style="height:18px; width:100%; margin-top:-3px;background-color: transparent;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="key_off_delay_1_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="key_off_delay_1_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:21px; float: left; text-align:right;font-size:12px;font-weight:100;">Grant Delay:</label>
							<img id="grant_delay_1_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_grant_delay_1" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<span style="left:0px; margin-top:3px">milliseconds</span>
								<input id="grant_delay_1" style="height:18px; width:50%;margin-top:-41px; background-color: transparent;margin-right:56px;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="grant_delay_1current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="grant_delay_1_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Point To Point:</label>
							<img id="point_1_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<img id="Peer_img_point_to_point" style="vertical-align:bottom; matgin-bottom:-2px;float: left;margin-right:10px" src="">
							<div id="div_point_1" style="width: 0px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input type="checkbox" id="point_1_chk" name="chkStationEnable" style="margin-right:5px;float:left; margin-top:5px">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="point_1_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="point_1_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
					</div>
				</div>
				<div class="field-group clearfix" style="margin: -234px 10px 10px 430px;float:left;width:50%;">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:30px; float: left; text-align:right;font-size:12px;font-weight:100;">Baud Rate:</label>
							<img id="baud_rate_2_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div class="container-wrapper per60" style="width:170px">
								<div class="field-container select clearfix" style="margin:0px 0px">
									<select name="stationselector" id="baud_rate_2" class="cfgproc" style="margin-left: 5px;font-size:12px;">
										<!-- <option selected disabled hidden value=""></option> -->
									</select>
								</div>
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="baud_rate_2_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="baud_rate_2_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:39px; float: left; text-align:right;font-size:12px;font-weight:100;">Stop Bits:</label>
							<img id="stop_bits_2_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_stop_bits_2" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="stop_bits_2" style="height:18px; width:100%;margin-top:-3px; background-color: transparent;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="stop_bits_2_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="stop_bits_2_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:55px; float: left; text-align:right;font-size:12px;font-weight:100;">Parity:</label>
							<img id="parity_2_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div class="container-wrapper per60" style="width:170px">
								<div class="field-container select clearfix" style="margin:0px 0px">
									<select name="stationselector" id="parity_2" class="cfgproc" style="margin-left: 5px;font-size:12px;">
										<!-- <option selected disabled hidden value=""></option> -->
									</select>
								</div>
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="parity_2_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="parity_2_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Key-On Delay:</label>
							<img id="key_on_delay_2_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_key_on_delay_2" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="key_on_delay_2" style="height:18px; width:100%;margin-top:-3px; background-color: transparent;font-size:12px;" name="LogTimeout" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="key_on_delay_2_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="key_on_delay_2_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Key-Off Delay:</label>
							<img id="key_off_delay_2_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_key_off_delay_2" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="key_off_delay_2" style="height:18px; width:100%; margin-top:-3px;background-color: transparent;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="key_off_delay_2_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="key_off_delay_2_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:21px; float: left; text-align:right;font-size:12px;font-weight:100;">Grant Delay:</label>
							<img id="grant_delay_2_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_grant_delay_2" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<span style="left:0px; margin-top:3px">milliseconds</span>
								<input id="grant_delay_2" style="height:18px; width:50%;margin-top:-41px; background-color: transparent;margin-right:56px;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="grant_delay_2_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="grant_delay_2_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Point To Point:</label>
							<img id="point_2_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<img id="Peer_img_point_to_point" style="vertical-align:bottom; matgin-bottom:-2px;float: left;margin-right:10px" src="">
							<div id="div_point_2" style="width: 0px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input type="checkbox" id="point_2_chk" name="chkStationEnable" style="margin-right:5px;float:left; margin-top:5px">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="point_2_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="point_2_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
					</div>
				</div>
				<div class="field-group clearfix" style="margin: 0px 0px 10px 0px;float:left;width:50%;">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:30px; float: left; text-align:right;font-size:12px;font-weight:100;">Baud Rate:</label>
							<img id="baud_rate_3_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div class="container-wrapper per60" style="width:170px">
								<div class="field-container select clearfix" style="margin:0px 0px">
									<select name="stationselector" id="baud_rate_3" class="cfgproc" style="margin-left: 5px;font-size:12px;">
										<!-- <option selected disabled hidden value=""></option> -->
									</select>
								</div>
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="baud_rate_3_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="baud_rate_3_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:39px; float: left; text-align:right;font-size:12px;font-weight:100;">Stop Bits:</label>
							<img id="stop_bits_3_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_stop_bits_3" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="stop_bits_3" style="height:18px; width:100%;margin-top:-3px; background-color: transparent;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="stop_bits_3_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="stop_bits_3_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:55px; float: left; text-align:right;font-size:12px;font-weight:100;">Parity:</label>
							<img id="parity_3_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div class="container-wrapper per60" style="width:170px">
								<div class="field-container select clearfix" style="margin:0px 0px">
									<select name="stationselector" id="parity_3" class="cfgproc" style="margin-left: 5px;font-size:12px;">
										<!-- <option selected disabled hidden value=""></option> -->
									</select>
								</div>
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="parity_3_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="parity_3_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Key-On Delay:</label>
							<img id="key_on_delay_3_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_key_on_delay_3" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="key_on_delay_3" style="height:18px; width:100%;margin-top:-3px; background-color: transparent;font-size:12px;" name="LogTimeout" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="key_on_delay_3_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="key_on_delay_3_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Key-Off Delay:</label>
							<img id="key_off_delay_3_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_key_off_delay_3" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="key_off_delay_3" style="height:18px; width:100%; margin-top:-3px;background-color: transparent;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="key_off_delay_3_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="key_off_delay_3_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:21px; float: left; text-align:right;font-size:12px;font-weight:100;">Grant Delay:</label>
							<img id="grant_delay_3_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_grant_delay_3" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<span style="left:0px; margin-top:3px">milliseconds</span>
								<input id="grant_delay_3" style="height:18px; width:50%;margin-top:-41px; background-color: transparent;margin-right:56px;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="grant_delay_3_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="grant_delay_3_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Point To Point:</label>
							<img id="point_3_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<img id="Peer_img_point_to_point" style="vertical-align:bottom; matgin-bottom:-2px;float: left;margin-right:10px" src="">
							<div id="div_point_3" style="width: 0px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input type="checkbox" id="point_3_chk" name="chkStationEnable" style="margin-right:5px;float:left; margin-top:5px">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="point_3_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="point_3_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
					</div>
				</div>
				<div class="field-group clearfix" style="margin: -234px 10px 10px 430px;float:left;width:50%;">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:30px; float: left; text-align:right;font-size:12px;font-weight:100;">Baud Rate:</label>
							<img id="baud_rate_4_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div class="container-wrapper per60" style="width:170px">
								<div class="field-container select clearfix" style="margin:0px 0px">
									<select name="stationselector" id="baud_rate_4" class="cfgproc" style="margin-left: 5px;font-size:12px;">
										<!-- <option selected disabled hidden value=""></option> -->
									</select>
								</div>
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="baud_rate_4_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="baud_rate_4_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:39px; float: left; text-align:right;font-size:12px;font-weight:100;">Stop Bits:</label>
							<img id="stop_bits_4_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_stop_bits_4" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="stop_bits_4" style="height:18px; width:100%;margin-top:-3px; background-color: transparent;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="stop_bits_4_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="stop_bits_4_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:55px; float: left; text-align:right;font-size:12px;font-weight:100;">Parity:</label>
							<img id="parity_4_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div class="container-wrapper per60" style="width:170px">
								<div class="field-container select clearfix" style="margin:0px 0px">
									<select name="stationselector" id="parity_4" class="cfgproc" style="margin-left: 5px;font-size:12px;">
										<!-- <option selected disabled hidden value=""></option> -->
									</select>
								</div>
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="parity_4_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="parity_4_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Key-On Delay:</label>
							<img id="key_on_delay_4_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_key_on_delay_4" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="key_on_delay_4" style="height:18px; width:100%;margin-top:-3px; background-color: transparent;font-size:12px;" name="LogTimeout" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="key_on_delay_4_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="key_on_delay_4_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Key-Off Delay:</label>
							<img id="key_off_delay_4_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_key_off_delay_4" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="key_off_delay_4" style="height:18px; width:100%; margin-top:-3px;background-color: transparent;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="key_off_delay_4_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="key_off_delay_4_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:21px; float: left; text-align:right;font-size:12px;font-weight:100;">Grant Delay:</label>
							<img id="grant_delay_4_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<div id="div_grant_delay_4" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<span style="left:0px; margin-top:3px">milliseconds</span>
								<input id="grant_delay_4" style="height:18px; width:50%;margin-top:-41px; background-color: transparent;margin-right:56px;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="grant_delay_4_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="grant_delay_4_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Point To Point:</label>
							<img id="point_4_img" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/error.png">
							<img id="Peer_img_point_to_point" style="vertical-align:bottom; matgin-bottom:-2px;float: left;margin-right:10px" src="">
							<div id="div_point_4" style="width: 0px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input type="checkbox" id="point_4_chk" name="chkStationEnable" style="margin-right:5px;float:left; margin-top:5px">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="point_4_current" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="point_4_default" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
					</div>
				</div>
				<div class="field-container text clearfix" style="float: left; margin: 10px 0 10px 10px;">
					<img style="float: left; display: block;" src="public/img/Warning.png">
					<label style="width: 80px; float: left; margin-top: 5px;" for="LogicTimeout"> = Vital</label>
					<img style="float: left; display: block;" src="public/img/error.png">
					<label style="width: 80px; float: left; margin-top: 5px;" for="LogicTimeout"> = Fixed</label>
					<img style="float: left; display: block;" src="public/img/accept.png">
					<label style="width: 80px; float: left; margin-top: 5px;" for="LogicTimeout"> = Adjustable</label>
				</div>
			</div>
			</div>
<% include footer %>
<script src="/public/js/conf_route.js"></script>
