<% include header %>
	<div style="width: 510px; margin: -50px auto;">
		<div class="fullheight" style="background: none;">
			<div style="margin: 10px auto;">
				<div class="section clearfix" style="border-radius: 5px !important; border-style: solid !important; border-width: 1px !important; box-shadow: 1px 1px 3px #000 !important; border-color: #f2f8fb #c3d2db #c3d2db #f2f8fb !important;">
					<div class="section-toolbar clearfix" style="background: none;">
						<div class="popup-buttons" style="float: left;">
							<h2 style="float: left;margin-top:0px;font-size:13px;color: #20394F;">User Data Log Settings</h2>
						</div>
					</div>
					<div class="section-content clearfix" style="margin:0;">
						<div class="field-group clearfix">
							<div id="options_list" class="scroll clearfix fullheight-inner" style="height: 400px;">

							</div>
							<div class="field-container clearfix">
								<div class="iw" style="display:inline-block; margin: 3px; padding:0;">
									<input id="start_adr" style="width:180px;border: none; background: none;font-size:13px;" type="search"></input>
								</div>
								<div style="float: right">
									<a id="search-btn" href="#" class="button">Search</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include footer %>
<script src="/public/js/conf_userdatalog.js"></script>
