<% include header %>
<div class="section clearfix" style="width: 960px; margin: -47px auto;">
	<div class="section-toolbar clearfix" style="background: none;">
		<div class="popup-buttons" style="float: left;">
			<h2 style="float: left;margin-top:0px;font-size:13px;color: #20394F;">Communications Configuration</h2>
		</div>
		</div>
		<div id="boards-information" class="section-content clearfix">
			<div class="field-group clearfix" style="margin-bottom: 10px;">
				<div class="clearfix">
					<div class="container-wrapper per60" style="width:50%">
						<div class="field-container select clearfix">
							<label style="font-size:12px;font-weight:100;" for="boardselector">Select Link </label>
							<div class="iw">
								<select name="linkselector" id="linkselector" class="cfgproc">
									<option selected disabled hidden value=""></option>
								</select>
							</div>
						</div>
					</div>
					<div class="container-wrapper per60" style="width:50%">
						<div class="field-container select clearfix">
							<label style="font-size:12px;font-weight:100;" for="boardselector">Station Selector</label>
							<div class="iw">
								<select name="stationselector" id="stationselector" class="cfgproc">
									<option selected disabled hidden value=""></option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Peer_Station LINK FORM -->
			<div id="frm_Safe_P_Link" style=display:none>
				<div class="field-group clearfix" style="margin: 0 10px 10px 0">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Link Enable:</label>
							<img id="Safe_P_Link_img_Enable" style="vertical-align:bottom; matgin-bottom:-2px;float: left;margin-right:10px" src="">
							<div id="div_LogicTimeout" style="width: 0px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input type="checkbox" id="Safe_P_Link_chk_Enable" name="chkStationEnable" style="margin-right:5px;float:left; margin-top:5px">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_Link_lbl_current_logic_timeout" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_Link_lbl_default_logic_timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Implementation I.D.:</label>
							<img id="Safe_P_Link_img_implementationID" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="Safe_P_Link_implementationID" style="height:18px; width:100%; background-color: transparent;font-size:12px;" name="LogTimeout" type="text">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_Link_lbl_current_implementationID" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_Link_lbl_default_implementationID" style="font-size:85%;coImplementationIDlor:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Port Timeout:</label>
							<img id="Safe_P_Link_img_port_timeout" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<span style="left:0px; margin-top:3px">milliseconds</span>
								<input id="Safe_P_Link_port_timeout" style="height:18px; width:50%; background-color: transparent;margin-top:-41px;margin-right:58px;font-size:12px;" name="LogTimeout" min="1" max="600000" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_Link_lbl_current_port_timeout" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_Link_lbl_default_port_timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
					</div>
				</div>
				<div class="field-group clearfix" style="margin: 0 10px 10px 0">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Physical Port Number 1:</label>
							<img id="Safe_P_Link_img_station_address" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div class="container-wrapper per60" style="width:170px">
								<div class="field-container select clearfix" style="margin:0px 0px">
									<select name="stationselector" id="Safe_P_Link_select_Physical_Port_Number_1" class="cfgproc" style="margin-left: 5px;font-size:12px;">
										<option selected disabled hidden value=""></option>
									</select>
								</div>
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_Link_lbl_current_logic_timeout" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_Link_lbl_default_logic_timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Physical Port Number 2:</label>
							<img id="Safe_P_Link_img_Physical_Port_Number_2" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div class="container-wrapper per60" style="width:170px">
								<div class="field-container select clearfix" style="margin:0px 0px">
									<select name="stationselector" id="Safe_P_Link_select_Physical_Port_Number_2" class="cfgproc" style="margin-left: 5px;font-size:12px;">
										<option selected disabled hidden value=""></option>
									</select>
								</div>
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_Link_lbl_current_peer_address" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_Link_lbl_default_peer_address" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">IP Port:</label>
							<img id="Safe_P_Link_img_IP_port" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="Safe_P_Link_txt_IP_port" style="height:18px; width:100%; background-color: transparent;font-size:12px;" name="LogTimeout" type="text">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_Link_lbl_current_IP_port" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_Link_lbl_default_IP_port" style="font-size:85%;coImplementationIDlor:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END OF SAFE_P LINK FORM -->

			<!-- SAFE_P STAION FORM -->
			<div id="frm_Safe_P_Station" style=display:none>
				<div class="field-group clearfix" style="margin: 0 10px 10px 0">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Station Enable:</label>
							<img id="Safe_P_img_StationEnable" style="vertical-align:bottom; matgin-bottom:-2px;float: left;margin-right:10px" src="">
							<div id="div_LogicTimeout" style="width: 0px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input type="checkbox" id="Safe_P_chk_StationEnable" name="chkStationEnable" style="margin-right:5px;float:left; margin-top:5px">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_lbl_current_logic_timeout" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_lbl_default_logic_timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Implementation I.D.:</label>
							<img id="Safe_P_img_implementationID" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="Safe_P_implementationID" style="height:18px; width:100%; background-color: transparent;font-size:12px;" name="LogTimeout" type="text">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_lbl_current_implementationID" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_lbl_default_implementationID" style="font-size:85%;coImplementationIDlor:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Activity Timeout:</label>
							<img id="Safe_P_img_activity_timeout" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 122px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<span style="left:5px; margin-top:0px;font-size:12px;font-weight:100;">milliseconds</span>
								<input id="Safe_P_activity_timeout" style="height:18px; width:50%; background-color: transparent;margin-top:-41px;margin-right:56px;font-size:12px;font-weight:100;" name="LogTimeout" min="1" max="600000" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_lbl_current_activity_timeout" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_lbl_default_activity_timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
					</div>
				</div>
				<div class="field-group clearfix" style="margin: 0 10px 10px 0">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Safe_P Station Address:</label>
							<img id="Safe_P_img_station_address" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="Safe_P_txt_station_address" style="height:18px; width:100%; background-color: transparent;font-size:12px;" name="LogTimeout" type="text" >
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="lbl_current_logic_timeout" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="lbl_default_logic_timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Safe_P Peer Address:</label>
							<img id="Safe_P_img_peer_address" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="Safe_P_txt_peer_address" style="height:18px; width:100%; background-color: transparent;font-size:12px;" name="LogTimeout" type="text">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_lbl_current_peer_address" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_lbl_default_peer_address" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
					</div>
				</div>
				<div class="field-group clearfix" style="margin: 0 10px 10px 0">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Broadcast Interval:</label>
							<img id="Safe_P_img_broadcast_interval" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<span style="left:5px; margin-top:3px;font-size:12px;font-weight:100;">milliseconds</span>
								<input id="Safe_P_txt_broadcast_interval" style="height:18px; width:50%; background-color: transparent;margin-top:-41px;margin-right:56px;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_lbl_current_broadcast_interval" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_lbl_default_broadcast_interval" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Stale Data Timeout:</label>
							<img id="Safe_P_img_stale_data_timeout" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<span style="left:5px; margin-top:3px;font-size:12px;font-weight:100;">milliseconds</span>
								<input id="Safe_P_txt_stale_data_timeout" style="height:18px; width:50%; background-color: transparent;margin-top:-41px;margin-right:56px;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_lbl_current_logic_timeout" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_lbl_default_logic_timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
					</div>
				</div>
				<div class="field-group clearfix" style="margin: 0 10px 10px 0">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Destination Address 1A:</label>
							<img id="Safe_P_img_destination_address_1A" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div style="float:left; margin: 0 5px 0 5px">
								<input id="Safe_P_txt_destination_address_1A1" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Safe_P_txt_destination_address_1A2" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Safe_P_txt_destination_address_1A3" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Safe_P_txt_destination_address_1A4" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_lbl_current_destination_address_1A" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_lbl_default_destination_address_1A" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Destination Address 1B:</label>
							<img id="Safe_P_img_destination_address_1B" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div style="float:left; margin: 0 5px 0 5px">
								<input id="Safe_P_txt_destination_address_1B1" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Safe_P_txt_destination_address_1B2" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Safe_P_txt_destination_address_1B3" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Safe_P_txt_destination_address_1B4" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_lbl_current_destination_address_1B" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_lbl_default_destination_address_1B" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right">Destination Address 2A:</label>
							<img id="Safe_P_img_destination_address_2A" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div style="float:left; margin: 0 5px 0 5px">
								<input id="Safe_P_txt_destination_address_2A1" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Safe_P_txt_destination_address_2A2" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Safe_P_txt_destination_address_2A3" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Safe_P_txt_destination_address_2A4" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_lbl_current_destination_address_2A" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_lbl_default_destination_address_2A" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right">Destination Address 2B:</label>
							<img id="Safe_P_img_destination_address_2B" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div style="float:left; margin: 0 5px 0 5px">
								<input id="Safe_P_txt_destination_address_2B1" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Safe_P_txt_destination_address_2B2" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Safe_P_txt_destination_address_2B3" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Safe_P_txt_destination_address_2B4" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Safe_P_lbl_current_destination_address_2B" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Safe_P_lbl_default_destination_address_2B" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END OF SAFE_P STAION FORM -->

			<!-- PEER LINK FORM -->
			<div id="frm_Peer_link" style=display:none>
				<div class="field-group clearfix" style="margin: 0 10px 10px 0">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Station Enable:</label>
							<img id="Peer_img_StationEnable" style="vertical-align:bottom; matgin-bottom:-2px;float: left;margin-right:10px" src="">
							<div id="div_LogicTimeout" style="width: 0px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input type="checkbox" id="Peer_chk_StationEnable" name="chkStationEnable" style="margin-right:5px;float:left; margin-top:5px">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Peer_lbl_current_logic_timeout" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Peer_lbl_default_logic_timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Implementation I.D.:</label>
							<img id="Peer_img_implementationID" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input id="Peer_implementationID" style="height:18px; width:100%; background-color: transparent;font-size:12px;" name="LogTimeout" type="text">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Peer_lbl_current_implementationID" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Peer_lbl_default_implementationID" style="font-size:85%;coImplementationIDlor:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Port Timeout:</label>
							<img id="Peer_img_port_timeout" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<span style="left:5px; margin-top:3px;font-size:12px;font-weight:100;">milliseconds</span>
								<input id="Peer_port_timeout" style="font-size:12px;font-weight:100;height:18px; width:50%;margin-top:-41px;margin-right:56px; background-color: transparent;font-size:12px;" name="LogTimeout" min="1" max="600000" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Peer_lbl_current_port_timeout" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Peer_lbl_default_port_timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
					</div>
				</div>
				<div class="field-group clearfix" style="margin: 0 10px 10px 0">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
					 	<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Physical Port Number:</label>
							<img id="Peer_Link_img_physical_port_number" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div class="container-wrapper per60" style="width:170px">
								<div class="field-container select clearfix" style="margin:0px 0px">
									<select name="stationselector" id="Peer_Link_select_physical_port_number" class="cfgproc" style="margin-left: 5px;font-size:12px;">
										<option selected disabled hidden value=""></option>
									</select>
								</div>
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Peer_Link_lbl_current_physical_port_number" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Peer_Link_lbl_default_physical_port_number" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Baud Rate:</label>
								<img id="Peer_img_baud_rate" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
								<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<input id="Peer_txt_baud_rate" style="height:18px; width:100%;margin-top:-3px; background-color: transparent;font-size:12px;" name="LogTimeout" min="1" step="1" class="cfgproc" maxlength="41" type="number">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_lbl_current_baud_rate" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_lbl_default_baud_rate" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
								</div>
							</div>
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Stop Bits:</label>
								<img id="Peer_img_stop_bits" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
								<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<input id="Peer_txt_stop_bits" style="height:18px; width:100%;margin-top:-3px; background-color: transparent;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_lbl_current_stop_bits" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_lbl_default_stop_bits" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
								</div>
							</div>
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Parity:</label>
								<img id="Peer_img_parity" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
								<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<input id="Peer_txt_parity" style="height:18px; width:100%; margin-top:-3px; background-color: transparent;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_lbl_current_parity" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_lbl_default_parity" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
								</div>
							</div>
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Key-On Delay:</label>
								<img id="Peer_img_key_on_delay" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
								<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<input id="Peer_txt_key_on_delay" style="height:18px; width:100%;margin-top:-3px; background-color: transparent;font-size:12px;" name="LogTimeout" step="1" class="cfgproc" maxlength="41" type="number">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_lbl_current_destination_key_on_delay" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_lbl_default_destination_key_on_delay" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
								</div>
							</div>
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Key-Off Delay:</label>
								<img id="Peer_img_key_off_delay" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
								<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<input id="Peer_txt_key_off_delay" style="height:18px; width:100%; margin-top:-3px;background-color: transparent;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_lbl_current_key_off_delay" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_lbl_default_key_off_delay" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
								</div>
							</div>
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Grant Delay:</label>
								<img id="Peer_img_grant_delay" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
								<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<span style="left:0px; margin-top:3px">milliseconds</span>
									<input id="Peer_txt_grant_delay" style="height:18px; width:50%;margin-top:-41px; background-color: transparent;margin-right:56px;font-size:12px;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_lbl_current_grant_delay" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_lbl_default_grant_delay" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
								</div>
							</div>
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Point To Point:</label>
								<img id="Peer_img_point_to_point" style="vertical-align:bottom; matgin-bottom:-2px;float: left;margin-right:10px" src="">
								<div id="div_LogicTimeout" style="width: 0px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<input type="checkbox" id="Peer_chk_point_to_point" name="chkStationEnable" style="margin-right:5px;float:left; margin-top:5px">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_lbl_current_point_to_point" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_lbl_default_point_to_point" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
								</div>
							</div>
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">IP Port:</label>
								<img id="Peer_img_ip_port" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
								<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<input id="Peer_ip_port" style="height:18px; width:100%;margin-top:-3px; background-color: transparent;font-size:12px;" name="LogTimeout" type="text">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_lbl_current_ip_port" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_lbl_default_ip_port" style="font-size:85%;coImplementationIDlor:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
								</div>
							</div>
					</div>
				</div>
				<div class="field-group clearfix" style="margin: 0 10px 10px 0">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Physical Port Number 2:</label>
							<img id="Peer_Link_img_physical_port_number_2" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div class="container-wrapper per60" style="width:170px">
								<div class="field-container select clearfix" style="margin:0px 0px">
									<select name="stationselector" id="Peer_Link_select_physical_port_number_2" class="cfgproc" style="margin-left: 5px;font-size:12px;">
										<option selected disabled hidden value=""></option>
									</select>
								</div>
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Peer_Link_lbl_current_physical_port_number_2" style="font-size:85%; margin-top: 5px; display:none">(current: 4000)</label>
								<label id="Peer_Link_lbl_default__physical_port_number_2" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block">(default: 4000)</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END OF PEER LINK FORM -->

			<!-- PEER STAION FORM -->
			<div id="frm_Peer_Station" style=display:none>
				<div class="field-group clearfix" style="margin: 0 10px 10px 0">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="width:50%; float:left; margin-bottom:10px">
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:130px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Station Enable:</label>
								<img id="Peer_Station_img_StationEnable" style="vertical-align:bottom; matgin-bottom:-2px;float: left;margin-right:10px" src="">
								<div id="div_LogicTimeout" style="width: 0px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<input type="checkbox" id="Peer_Station_chk_StationEnable" name="chkStationEnable" style="margin-right:5px;float:left; margin-top:5px">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_Station_lbl_current_logic_timeout" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_Station_lbl_default_logic_timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
								</div>
							</div>
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:130px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">MICROLOK Address:</label>
								<img id="Peer_Station_img_Microlok_Address" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
								<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<input id="Peer_Station_Microlok_Address" style="height:18px; width:100%; background-color: transparent;font-size:12px;" name="LogTimeout" type="text">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_Station_lbl_current_Microlok_Address" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_Station_lbl_default_Microlok_Address" style="font-size:85%;coImplementationIDlor:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default:)</label>
								</div>
							</div>
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:130px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Secure:</label>
								<img id="Peer_Station_img_Secure" style="vertical-align:bottom; matgin-bottom:-2px;float: left;margin-right:10px" src="">
								<div id="div_LogicTimeout" style="width: 0px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<input type="checkbox" id="Peer_Station_chk_Secure" name="chkStationEnable" style="margin-right:5px;float:left; margin-top:5px">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_Station_lbl_current_Secure" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_Station_lbl_default_Secure" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
								</div>
							</div>
						</div>
						<div style="width:50%; float:left; margin-bottom:10px">
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:130px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Time Stamp:</label>
								<img id="Peer_Station_img_Time_Stamp" style="vertical-align:bottom; matgin-bottom:-2px;float: left;margin-right:10px" src="">
								<div id="div_LogicTimeout" style="width: 0px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<input type="checkbox" id="Peer_Station_chk_Time_Stamp" name="chkStationEnable" style="margin-right:5px;float:left; margin-top:5px">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_Station_lbl_current_Time_Stamp" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_Station_lbl_default_Time_Stamp" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
								</div>
							</div>
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:130px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Peer Address:</label>
								<img id="Peer_Station_img_Peer_Address" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
								<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<input id="Peer_Station_Peer_Address" style="height:18px; width:100%; background-color: transparent;font-size:12px;" name="LogTimeout" type="text">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_Station_lbl_current_Peer_Address" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_Station_lbl_default_Peer_Address" style="font-size:85%;coImplementationIDlor:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
								</div>
							</div>
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:130px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Implementation I.D.:</label>
								<img id="Peer_Station_img_ImplementationID" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
								<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<input id="Peer_Station_ImplementationID" style="height:18px; width:100%; background-color: transparent;font-size:12px;" name="LogTimeout" type="text">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_Station_lbl_current_ImplementationID" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_Station_lbl_default_ImplementationID" style="font-size:85%;coImplementationIDlor:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
								</div>
							</div>
							<div style="padding:5px 0px 10px 10px; clear: both">
								<label style="width:130px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Activity Timeout:</label>
								<img id="Peer_Station_img_activity_timeout" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
								<div id="div_LogicTimeout" class="iw suffix" style="width: 122px; height:20px; float: left; margin: 0 5px; padding-right:5px">
									<span style="left:5px; margin-top:0px;font-size:12px;font-weight:100;">milliseconds</span>
									<input id="Peer_Station_activity_timeout" style="height:18px; width:50%; background-color: transparent;margin-top:-37px;margin-right:58px;font-size:12px;font-weight:100;" name="LogTimeout" min="1" max="600000" step="1" class="cfgproc" maxlength="41" type="number">
								</div>
								<div style="width: 120px; height:20px; float: left;">
									<label id="Peer_Station_lbl_current_activity_timeout" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
									<label id="Peer_Station_lbl_default_activity_timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="field-group clearfix" style="margin: 0 10px 10px 0">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">ACK Timeout:</label>
							<img id="Peer_Station_img_ACK_Timeout" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 122px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<span style="left:5px; margin-top:3px;font-size:12px;font-weight:100;">milliseconds</span>
								<input id="Peer_Station_txt_ACK_Timeout" style="height:18px; width:50%; background-color: transparent;margin-top:-41px;margin-right:58px;font-size:12px;font-weight:100;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Peer_Station_lbl_current_ACK_Timeout" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Peer_Station_lbl_default_ACK_Timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Heartbeat Interval:</label>
							<img id="Peer_Station_img_Heartbeat_Interval" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 122px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<span style="left:5px; margin-top:0px;font-size:12px;font-weight:100;">milliseconds</span>
								<input id="Peer_Station_txt_Heartbeat_Interval" style="height:18px; width:50%; margin-top:-41px; background-color: transparent;margin-right:58px;font-size:12px;font-weight:100;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Peer_Station_lbl_current_Heartbeat_Interval" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Peer_Station_lbl_default_Heartbeat_Interval" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Indication Update Cycle:</label>
							<img id="Peer_Station_img_Indication_Update_Cycle" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<span style="left:5px; margin-top:3px;font-size:12px;font-weight:100;">milliseconds</span>
								<input id="Peer_Station_txt_Indication_Update_Cycle" style="height:18px; width:50%; background-color: transparent;margin-top:-41px;margin-right:58px;font-size:12px;font-weight:100;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Peer_Station_lbl_current_Indication_Update_Cycle" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Peer_Station_lbl_default_Indication_Update_Cycle" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Stale Data Timeout:</label>
							<img id="Peer_Station_img_stale_data_timeout" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<span style="left:5px; margin-top:3px;font-size:12px;font-weight:100;">milliseconds</span>
								<input id="Peer_Station_txt_stale_data_timeout" style="height:18px; width:50%; background-color: transparent;margin-top:-41px;margin-right:58px;font-size:12px;font-weight:100;" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Peer_Station_lbl_current_logic_timeout" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Peer_Station_lbl_default_logic_timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Clock Master:</label>
							<img id="Peer_Station_img_Clock_Master" style="vertical-align:bottom; matgin-bottom:-2px;float: left;margin-right:10px" src="">
							<div id="div_LogicTimeout" style="width: 0px; height:20px; float: left; margin: 0 5px; padding-right:5px">
								<input type="checkbox" id="Peer_Station_chk_Clock_Master" name="chkStationEnable" style="margin-right:5px;float:left; margin-top:5px">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Peer_Station_lbl_current_Clock_Master" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Peer_Station_lbl_default_Clock_Master" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
					</div>
				</div>
				<div class="field-group clearfix" style="margin: 0 10px 10px 0">
					<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Destination Address 1A:</label>
							<img id="Peer_Station_img_destination_address_1A" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div style="float:left; margin: 0 5px 0 5px">
								<input id="Peer_Station_txt_destination_address_1A1" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Peer_Station_txt_destination_address_1A2" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Peer_Station_txt_destination_address_1A3" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Peer_Station_txt_destination_address_1A4" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Peer_Station_lbl_current_destination_address_1A" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Peer_Station_lbl_default_destination_address_1A" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Destination Address 1B:</label>
							<img id="Peer_Station_img_destination_address_1B" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div style="float:left; margin: 0 5px 0 5px">
								<input id="Peer_Station_txt_destination_address_1B1" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Peer_Station_txt_destination_address_1B2" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Peer_Station_txt_destination_address_1B3" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Peer_Station_txt_destination_address_1B4" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Peer_Station_lbl_current_destination_address_1B" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Peer_Station_lbl_default_destination_address_1B" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Destination Address 2A:</label>
							<img id="Peer_Station_img_destination_address_2A" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div style="float:left; margin: 0 5px 0 5px">
								<input id="Peer_Station_txt_destination_address_2A1" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Peer_Station_txt_destination_address_2A2" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Peer_Station_txt_destination_address_2A3" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Peer_Station_txt_destination_address_2A4" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Peer_Station_lbl_current_destination_address_2A" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Peer_Station_lbl_default_destination_address_2A" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
						<div style="padding:5px 0px 10px 10px; clear: both">
							<label style="width:160px; display:inline-block; margin-top: 3px; margin-right:10px; float: left; text-align:right;font-size:12px;font-weight:100;">Destination Address 2B:</label>
							<img id="Peer_Station_img_destination_address_2B" style="vertical-align:bottom; matgin-bottom:-2px;float: left; margin-right:10px" src="public/img/Warning.png">
							<div style="float:left; margin: 0 5px 0 5px">
								<input id="Peer_Station_txt_destination_address_2B1" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Peer_Station_txt_destination_address_2B2" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Peer_Station_txt_destination_address_2B3" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">&nbsp;.
								<input id="Peer_Station_txt_destination_address_2B4" class="txt-ip"style="height:18px; width:30px;font-size:12px;" name="LogTimeout" type="text">
							</div>
							<div style="width: 120px; height:20px; float: left;">
								<label id="Peer_Station_lbl_current_destination_address_2B" style="font-size:85%; margin-top: 5px; display:none;font-size:12px;font-weight:100;">(current: 4000)</label>
								<label id="Peer_Station_lbl_default_destination_address_2B" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block;font-size:12px;font-weight:100;">(default: 4000)</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END OF PEER STAION FORM -->

			<div id="conf-station-info">
			</div>
			<div class="field-container text clearfix" style="float: left; margin: 10px 0 0 10px;">
				<img style="float: left; display: block;" src="public/img/Warning.png">
				<label style="width: 80px; float: left; margin-top: 5px;font-size:12px;font-weight:100;" for="LogicTimeout"> = Vital</label>
				<img style="float: left; display: block;" src="public/img/error.png">
				<label style="width: 80px; float: left; margin-top: 5px;font-size:12px;font-weight:100;" for="LogicTimeout"> = Fixed</label>
				<img style="float: left; display: block;" src="public/img/accept.png">
				<label style="width: 80px; float: left; margin-top: 5px;font-size:12px;font-weight:100;" for="LogicTimeout"> = Adjustable</label>
			</div>
		</div>
	</div>

	<% include footer %>
	<script src="/public/js/conf_links.js"></script>
	<!-- <script src="/public/js/unload.js"></script> -->
