<% include header %>
			<div class="section clearfix" style="width: 960px; margin: -47px auto;">
				<div class="section-toolbar clearfix" style="background: none;">
					<div class="popup-buttons" style="float: left;">
						<h2 style="float: left;margin-top:0px;font-size:13px;color: #20394F;">Board Configuration</h2>
					</div>
				</div>
				<div id="boards-information" class="section-content clearfix">
					<div class="field-group clearfix" style="margin-bottom: 10px;">
						<div class="clearfix">
							<div class="container-wrapper per60">
								<div class="field-container select clearfix">
									<label style="font-size:13px;" for="boardselector">Select Board </label>
									<div class="iw">
										<select name="boardselector" id="boardselector" class="cfgproc">
											<option selected disabled hidden value=""></option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="all_board_data">

					</div>
					<div class="field-container text clearfix" style="float: left; margin: 10px 0 0 10px;">
						<img style="float: left; display: block;" src="public/img/Warning.png">
						<label style="width: 80px; float: left; margin-top: 5px;font-size:12px;font-weight:100;" for="LogicTimeout"> = Vital</label>
						<img style="float: left; display: block;" src="public/img/error.png">
						<label style="width: 80px; float: left; margin-top: 5px;font-size:12px;font-weight:100;" for="LogicTimeout"> = Fixed</label>
						<img style="float: left; display: block;" src="public/img/accept.png">
						<label style="width: 80px; float: left; margin-top: 5px;font-size:12px;font-weight:100;" for="LogicTimeout"> = Adjustable</label>
					</div>
				</div>
			</div>
<% include footer %>
<script src="/public/js/conf_boards.js"></script>
<!-- <script src="/public/js/unload.js"></script> -->
