		</div>
		</div>
	</div>
	</div>
		<div id="footer" class="clearfix">
			<p style="float: left;">
				Copyright &copy; 2016 Ansaldo STS USA, Inc.
			</p>
			<p id="tool-ver" style="float: right;">Ver. <span id="ui-ver">UI-0.9.166 SW-</span><span id="sw-ver" name="sw-ver">waiting</span></p>
		</div>
	<script type="text/javascript">
	jQuery(document).ready(function() {
			jQuery("#menu-toggle").click(function(e) {
					e.preventDefault();
					jQuery("#wrapper").toggleClass("toggled");
					jQuery("#wrapper.toggled").find("#sidebar-wrapper").find(".collapse").collapse("hide");
					jQuerychild=jQuery(this).children('span');
          jQuerychild.toggleClass("glyphicon-menu-right glyphicon-menu-left")
			});
	});
	</script>
	<% if (edit_mode == "1" && enableSessionTimeout == 'true') { %>
		<script src="/public/js/config.js"></script>
		<% } %>
	<script src="/public/js/common_function.js"></script>
	<script src="/public/js/init.js"></script>
	<script src="/public/js/sysinfo.js"></script>
</body>
</html>
