<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en-us">
<!--<![endif]-->
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<!--[if lt IE 9 ]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<![endif]-->
<title dir=ltr><%= title %></title>
<link href="public/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="public/css/vendor/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="public/css/metisMenu.min.css" rel="stylesheet">
<link href="public/css/sb-admin-2.css" rel="stylesheet">
<link href="public/css/sbadmin2-sidebar-toggle.css" rel="stylesheet" type="text/css">
<link href="public/css/style.css" rel="stylesheet">
<link href="public/css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/public/css/jquery-ui.css" />
<script src="/public/js/lib/jszip.js"></script>
<script src="/public/js/lib/prototype.js"></script>
<script src="/public/js/popup.js"></script>
<script src="/public/js/lib/effects.js"></script>
<script src="/public/js/filexhr.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/header_info.js"></script>
<script src="/public/js/lib/moment.min.js"></script>
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/js/lib/vendor/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
<script src="/public/js/lib/jqnoconflict.js"></script>
<script src="/public/js/lib/metisMenu.min.js"></script>
<script src="/public/js/lib/sb-admin-2.js"></script>
	<% if (enableSessionTimeout == 'true') { %>
		<script src="/public/js/session.js"></script>
	<% } %>
	<% if (page_nav == '9'){ %>
	<script src="/public/js/sessionlimit.js"></script>
	<% } %>
</head>
<body style="background-color: #607890;">
	<div id="header" class="clearfix">
	<div id="wrapper" class="">
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;margin-top:160px;">
			<div class="navbar-header">
					<h1>
					 <a id="logo" href="/">MicroLok<span style="font-size: 20px; vertical-align: top;">®</span></a>
					 <% if (edit_mode == "1" && enableSessionTimeout == 'true') { %>
					 	<a style="margin-top:13px;color: #ffffff !important;font-size:18px;text-decoration:none;" id="discard_changes_btn" href="#" onclick="return false;" class="navbar-text" >Logout</a></h1></br>
					 <% } else { %>
						<a style="margin-top:13px;color: #ffffff !important;font-size:18px;text-decoration:none;" id="setup_menu" href="#" onclick="return false;" class="navbar-text" >Login</a></h1></br>
						<% } %>
					 <label style="margin-top:-111px;color:white;" class="navbar-text">Application:<span style="margin-left:75px" id="sysinfo-program"></span></label></br>
					 <label style="margin-top:-111px;color:white;" class="navbar-text">Executive Version:<span style="margin-left:30px" id="sysinfo-exec-ver"></span></label>
					 <label style="margin-top:-91px;color:white;" class="navbar-text">Executive CRC:<span style="margin-left:52px" id="sysinfo-exec-crc"></span></label>
					 <label style="margin-top:-71px;color:white;" class="navbar-text">Application Version:<span style="margin-left:20px" id="sysinfo-app-ver"></span></label>
					 <label style="margin-top:-51px;color:white;" class="navbar-text">Application CRC:<span style="margin-left:40px" id="sysinfo-app-crc"></span></label>
					 <label style="margin-top:-31px;color:white;" class="navbar-text">Compiler Version:<span style="margin-left:35px" id="sysinfo-comp-ver"></span></label>
					 <label class="navbar-brand-site" style="color:white;">Site ID:</label><span class="site-value" id="sysinfo-site-id"></span>
					 <label class="navbar-brand-date" style="color:white;">Date Stamp:</label><span class="date-value" id="sysinfo-date-stamp"></span>
			 </div>
			 <div class="navbar-right" style="margin-top:-110px;">
				 <div class="onboard-information">
					 <div class="onboard-other-div">
				 <div>
					 <span>MicroLok Time</span>
						 <input value="" id="board-time" name="board-time" readonly="" />
				 </div>
				 <div>
					 <span>MicroLok Status</span>
					 <input value="" id="operation-mode" name="operation-mode" class="operation-mode-unknown" readonly="" />
				 </div>
				 <% if (edit_mode == "1" && enableSessionTimeout == 'true' && page_nav=="3") { %>
				 <div>
					 <a id="conf_save_changes_btn" style="text-decoration:none;margin-left:175px;margin-top:18px;" class="button" href="#" onclick="return false;">Submit</a>
				 </div>
				 <% } %>
			 </div>
			 </div>
		 </div>
			 <div id="sidebar-wrapper">
				<div class="navbar-default sidebar" role="navigation">
						<div class="sidebar-nav navbar-collapse">
								<ul class="nav in" id="side-menu">
									<a href="#" id="menu-toggle" style="margin-left:15px;color: #ffffff !important;"><span class="glyphicon glyphicon-menu-left"></span></a>

										<li id="rmlist">
												<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i><span class="masked"> Runtime Monitor</span><span class="masked fa arrow"></span></a>
												<ul class="nav nav-second-level" aria-expanded="false">
														<li>
																<a href="messagemon">Message Monitor</a>
														</li>
														<li>
																<a href="bitandvars">Bit and Variable Display</a>
														</li>
														<li>
																<a href="linkinfo">Link Information</a>
														</li>
												</ul>
										</li>
										<li id="sdlist">
												<a href="#"><i class="fa fa-wrench fa-fw"></i><span class="masked"> System Data</span><span class="masked fa arrow"><span></a>
												<ul class="nav nav-second-level" aria-expanded="false">
														<li>
																<a href="systemlog">System Adjustments Events</a>
														</li>
														<li>
																<a href="userdatalog">User Data Log</a>
														</li>
														<li>
																<a href="eventlog">Event Log</a>
														</li>
														<li>
																<a href="errorlog">Error Log</a>
														</li>
														<li>
																<a href="memorydump">Memory Dump</a>
														</li>
												</ul>
										</li>
										<li id="smlist">
												<a href="#"><i class="fa fa-sitemap fa-fw"></i><span class="masked"> System Management</span><span class="masked fa arrow"></span></a>
												<ul class="nav nav-second-level" aria-expanded="false">
														<li>
																<a href="application_download">Download Application</a>
														</li>
														<li>
																<a href="conf_download">Download Configuration</a>
														</li>
														<li>
															<% if (edit_mode == "1" && enableSessionTimeout == 'true'){ %>
																<input type="hidden" id="edit_mode" value="1">
																<a href="conf_upload">Software Upload</a>
															<% } else { %>
																<a href="conf_upload">Software Upload</a>
															<% } %>
														</li>
														<li>
																<a id="reset_menu_item" href="#" onclick="return false;">Reset</a>
														</li>
												</ul>
										</li>
										<li id="aclist">
												<a href="#"><i class="fa fa-files-o fa-fw"></i><span class="masked"> Application Configuration</span><span class="masked fa arrow"></span></a>
												<ul class="nav nav-second-level" aria-expanded="false">
														<li>
																<a href="conf_general">General</a>
														</li>
														<li>
																<a href="conf_userdatalog">User Data Log Bit Selection</a>
														</li>
														<li>
																<a href="conf_timers">Timers</a>
														</li>
														<li>
																<a href="conf_variables">User Defined Varibles</a>
														</li>
														<li>
																<a href="conf_boards">Board Configuration</a>
														</li>
														<li>
																<a href="conf_links">Communication Links</a>
														</li>
												</ul>
											</li>
										<li id="sclist">
												<a href="#"><i class="fa fa-dashboard fa-fw "></i><span class="masked"> System Configuration</span><span class="masked fa arrow"></span></a>
												<ul class="nav nav-second-level" aria-expanded="false">
														<li>
																<a href="conf_route">CPU Communication</a>
														</li>
														<li>
																<a href="systime">Set Date/Time</a>
														</li>
												</ul>
										</li>
								</ul>
						</div>
				</div>
				</div>
		</nav>
		<div id="page-wrapper">
			<div id="master-wrapper" <% if (typeof show_bg != 'undefined') { %> class="main_bg" <% }	 %> >
				</div>
