<% include header %>
	<div style="width: 705px; margin: -50px auto;">
		<div class="fullheight" style="background: none;">
			<div style="margin: 10px auto;">

				<div class="section clearfix" style="border-radius: 5px !important; border-style: solid !important; border-width: 1px !important; box-shadow: 1px 1px 3px #000 !important; border-color: #f2f8fb #c3d2db #c3d2db #f2f8fb !important;">
					<div class="section-toolbar clearfix" style="background: none;">
						<h2 style="float: left;font-size:13px;color: #20394F;">Link Information</h2>
						<div class="popup-buttons" style="float: right">
							<a id="link_clear_btn" style="float:left;text-decoration:none;" class="button" href="#" onclick="return false;">Clear</a>
							<a id="info_save_btn" style="float:left;text-decoration:none;" class="button" href="#" onclick="return false;">Save</a>
						</div>
					</div>
				 	<div id="links-information" class="section-content clearfix" style="margin:0;">
				 		<div class="field-group clearfix" style="margin-bottom: 10px;">
				 			<div class="clearfix">
				 				<div class="container-wrapper per75">
				 					<div class="field-container select clearfix">
				 						<label for="linkselector">Select Link </label>
			 							<div class="iw">
			 								<select name="linkselector" id="linkselector" class="cfgproc">
			 								</select>
			 							</div>
			 						</div>
			 					</div>
								<img width="32" height="32" src="public/img/ajax-load.gif" style="display:none; margin: 20px 0 0 20px;" id="refresh_flag">
			 				</div>
			 			</div>
				 		<div id="Link-info">
							<div id="link1-information" class="section-content clearfix" style="padding: 0; margin: 0;">
								<div class="field-group clearfix" style="margin:0;">
									<h2>
										<span class="info" style="font-size:13px;">Protocol</span>
										<div  class="iw is-disabled" style="width:137px;height:18px; margin:0 10px;display:inline-flex;">
											<input readonly="" value="" name="protocol" style="background:none; width:120px;height:14px;margin-bottom:3px;font-size:13px;" class="is-disabled cfgproc" id="protocol">
										</div>
										<span class="info" style="font-size:13px;">Physical Ports:</span>
										<div id="port1field" style="width:137px;height:18px;display:inline-flex; margin:0 10px;" class="iw is-disabled">
											<input readonly="" value="" name="port1" style="background:none; width:120px;margin-bottom:3px;font-size:13px;" class="is-disabled cfgproc" id="port1">
										</div>
										<div id="port2field" style="width:137px;height:18px;display:inline-flex; margin:0 10px;" class="iw is-disabled">
											<input readonly="" value="" name="port2" style="background:none; width:120px;margin-bottom:3px;font-size:13px;" class="is-disabled cfgproc" id="port2">
										</div>
									</h2>
									<div id="link_scroller" class="scroll clearfix fullheight-inner bigheight" style="height: 400px;">
										<table id="link-table" class="data-table data-table-scroll">
											<tbody id="link-adjust-tbody" style="">

											</tbody>
										</table>
									</div>
								</div>
							</div>
				 		</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include footer %>
<script src="/public/js/linkinfo.js"></script>
