<% include header %>
				<div class="section clearfix" style="width: 1100px; margin: -47px auto;">
					<div class="section-toolbar clearfix" style="background: none;">
						<div class="popup-buttons" style="float: left;">
							<h2 style="float: left;margin-top:20px;font-size:13px;color: #20394F;">Memory Dump</h2>
						</div>
						<div class="popup-buttons" style="float:left; margin: 0;">
							<h2 style="float: left; padding: 5px; margin: 0;">
								<span class="info" style="font-size:13px;">Start Address:</span>
								<div class="iw" style="width:87px;height:16px;display:inline-flex; margin: 3px; padding:0;">
									<input id="start_pref" style="border: none; background: none; width: 35px;font-size:13px;" value="0x00" readonly="true">
									<input id="start_adr" class="userinput" value="200000" maxlength="6" style="width:50px;border: none; background: none;text-transform:uppercase;font-size:13px;">
								</div>
							</h2>
						</div>
						<div class="popup-buttons" style="float:left; margin: 0;">
							<h2 style="float: left; padding: 5px; margin: 0;">
								<span class="info" style="font-size:13px;">End Address:</span>
								<div class="iw" style="width:87px;height:16px;display:inline-flex; margin: 3px; padding:0;">
									<input id="end_pref" style="border: none; background: none; width: 35px;font-size:13px;" value="0x00" readonly="true">
									<input id="end_adr" class="userinput" value="7FFFFF" maxlength="6" style="width:50px;border: none; background: none;text-transform:uppercase;font-size:13px;">
								</div>
							</h2>
						</div>
						<div class="popup-buttons" style="float:left; margin: 0;">
							<h2 style="float: left; padding: 5px; margin: 0;">
								<span class="info" style="font-size:13px;">Count:</span>
								<div class="iw" style="width:80px;height:16px;display:inline-flex; margin: 3px; padding:0;">
									<input style="border: none; background: none; width: 20px;font-size:13px;" value="0x" readonly="true">
									<input id="size_range" class="userinput" value="5FFFFF" maxlength="6" style="width:50px;border: none; background: none;text-transform:uppercase;font-size:13px;">
								</div>
							</h2>
						</div>
						<div class="popup-buttons" style="float:left; margin: 0;">
							<h2 style="float: left; padding: 5px; margin: 0;">
								<span id="sysinfo-exec-ver" class="info" style="font-size:13px;">Processor:</span>
								<div class="iw" style="width:80px;height:16px;display:inline-flex; margin: 3px; padding:0;">
									<select id="proc_selection" class="cfgproc" name="proc" style="width:80px;border: none; background: none;font-size:13px;">
										<option style="font-size:13px;" value="NV" selected="">N/V</option>
										<option value="VA">V-A</option>
										<option value="VX">V-X</option>
									</select>
								</div>
							</h2>
						</div>
						<div class="popup-buttons" style="float:left; margin: 3px 5px;">
							<a id="userlog_load_btn" class="button" style="margin: 11px 5px;" onclick="return false;" href="#">Load</a>
						</div>
						<div class="popup-buttons" style="float: right; margin: 3px 0;">
							<a id="info_save_btn" class="button" href="#" style="margin: 11px 5px;" onclick="return false;">Save</a>
						</div>
					</div>
			 		<div id="User-data-log-area" class="section-content clearfix">
					 		<!--<div id="sys-adjust-scroll" class="scroll clearfix fullheight-inner" style="height: 400px;">-->
								<div class="field-container textarea clearfix">
									<div class="iw">
										<textarea id="dump-field" class="cfgproc" name="user-log-field" style="height: 400px;overflow-y: scroll;" readonly="true" ></textarea>
									</div>
								</div>
							<!--</div>-->
			 		</div>
				</div>
<% include footer %>
<script>
document.observe("dom:loaded", function() {
	var element = document.getElementById("sdlist");
	element.classList.add("active");
	});
</script>
