<% include header %>
	<div style="width: 860px; margin: -50px auto;">
		<div class="fullheight" style="background: none;">
			<div style="margin: 10px auto;">
				<div class="section clearfix" style="border-radius: 5px !important; border-style: solid !important; border-width: 1px !important; box-shadow: 1px 1px 3px #000 !important; border-color: #f2f8fb #c3d2db #c3d2db #f2f8fb !important;">
					<div class="section-toolbar clearfix" style="background: none;">
						<h2 style="float: left;font-size:13px;color: #20394F;">Message Monitor</h2>
						<div class="popup-buttons" style="float:right;">
							<a id="info_save_btn" class="button" style="text-decoration:none;" href="#">Save</a>
						</div>
					</div>
				 	<div id="Board-information" class="section-content clearfix" style="margin:0;">
				 		<div class="field-group clearfix" style="margin-bottom: 10px;">
				 			<div class="clearfix">
				 				<div class="container-wrapper per75">
				 					<div class="field-container select clearfix">
				 						<label for="linkselector">Select Link </label>
			 							<div class="iw">
			 								<select name="linkselector" id="linkselector" class="cfgproc">
			 									<option selected disabled hidden value="">&nbsp;</option>
			 								</select>
			 							</div>
			 						</div>
			 					</div>
								<div style="float: right; padding: 24px 0 0;">
									<a id="start-message-mon" class="button" style="float:left;text-decoration:none;" href="#" onclick="return false;">Start Monitoring</a>
									<a id="clear-message-mon" class="button" style="float:left;text-decoration:none;" href="#" onclick="return false;">Clear Log</a>
								</div>
			 				</div>
			 			</div>
				 		<div id="Message-monitor-area">
					 		<div class="field-group clearfix">
								<h2>
									<span class="info" style="font-size:13px;">Protocol</span>
									<div style="width:137px;height:15px; margin:0 10px;display:inline-flex;" class="iw is-disabled">
										<input readonly="" value="" name="protocol" style="background:none;width:180px;margin-bottom:3px;font-size:13px;" class="is-disabled cfgproc" id="protocol">
									</div>
									<span class="info" style="font-size:13px;">Physical Ports:</span>
									<div id="port1field" style="width:137px;height:15px;display:inline-flex; margin:0 10px;" class="iw is-disabled">
										<input readonly="" value="" name="port1" style="background:none; width:180px;margin-bottom:3px;font-size:13px;" class="is-disabled cfgproc" id="port1">
									</div>
									<div id="port2field" style="width:137px;height:15px;display:inline-flex; margin:0 10px;" class="iw is-disabled">
										<input readonly="" value="" name="port2" style="background:none; width:180px;margin-bottom:3px;font-size:13px;" class="is-disabled cfgproc" id="port2">
									</div>
								</h2>
						 		<!--<div id="sys-adjust-scroll" class="scroll clearfix fullheight-inner" style="height: 400px;">-->
									<div class="field-container textarea clearfix">
										<div class="">
											<!-- <div class="iw"> -->
											<textarea id="message-monitor-field" class="cfgproc fullheight-inner" name="message-monitor-field" style="height: 330px;" readonly="" ></textarea>
										</div>
									</div>
								<!--</div>-->
							</div>
				 		</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include footer %>
<script>
document.observe("dom:loaded", function() {
	var element = document.getElementById("rmlist");
	element.classList.add("active");
	});
</script>
