<% include header %>
	<div class="fullheight" style="background: none;width:50%;float:left">
		<div style="margin: -47px auto;">
			<div class="section clearfix">
				<div class="section-toolbar clearfix" style="background: none;">
					<div class="popup-buttons" style="float: left;">
					</div>
					<div id="general-changes-area" class="section-content clearfix" style="margin:0;">
			 			<div class="clearfix">
		 					<div class="field-group clearfix">
			 					<h2 style="font-size:17px;">Vital Configurations</h2>
			 					<div class="scroll clearfix fullheight-inner">
			 						<!-- <div id="vital_list" style="display: block; margin: 10px;">
									</div> -->
									<div id="vital_page_name">
									</div>
								</div>
		 					</div>
						</div>
			 		</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fullheight" style="background: none;width:50%;float:right;">
		<div style="margin: -47px auto;">
			<div class="section clearfix">
				<div class="section-toolbar clearfix" style="background: none;">
					<div class="popup-buttons" style="float: left;">
					</div>
					<div id="general-changes-area" class="section-content clearfix" style="margin:0;">
			 			<div class="clearfix">
		 					<div class="field-group clearfix">
			 					<h2 style="font-size:17px;">Non-Vital Configurations</h2>
			 					<div class="scroll clearfix fullheight-inner">
			 						<!-- <div id="non_vital_list" style="display: block; margin: 10px;">
									</div> -->
									<div id="nonvital_page_name">
									</div>
								</div>
		 					</div>
						</div>
			 		</div>
				</div>
			</div>
		</div>
		<% if (edit_mode == "1" && enableSessionTimeout == 'true'){ %>
		<div class="submit-buttons">
	  <!-- <a id="conf_save_changes_btn" style="text-decoration:none;margin-left:175px;margin-top:18px;" class="button" href="#" onclick="return false;">Submit</a> -->
		<a id="discard_changes_btn_new" class="button" onclick="return false;" href="#" style="text-decoration:none;">Discard all Changes</a>
		<a id="apply_changes_btn" class="button" onclick="return false;" href="#" style="text-decoration:none;">Upload Changes to CPU</a>
		</div>
		<% } else { %>
		<% } %>
</div>
<% include footer %>
<script src="/public/js/submit_data.js"></script>
