<% include header %>
				<div class="section clearfix" style="width: 680px; margin: -47px auto;">
					<form id="vipro-ntp-form" name="ViproNTPForm" method="post" action="NTP">
					<div class="section-toolbar clearfix" style="background: none;">
						<h2 style="float: left;margin-top:0px;font-size:13px;color: #20394F;">System Clock</h2>
					</div>
				 	<div id="logic-mon" class="section-content clearfix">
				 		<div class="field-group clearfix" style="margin: 0 0 0 0">
				 			<div class="clearfix">
					 			<div>
						 			<div style="float:left; width:40%; padding: 6px 0 0 0;">
						 				<div class="field-container text clearfix">
											<label for="cursystime" style="font-size:13px;font-weight:100;">Current MicroLok system time</label>
										</div>
							 		</div>
						 			<div style="float:left; width:60%;">
						 				<div class="field-container text clearfix">
											<div class="iw is-disabled">
												<input id="cursystime" class="cfgproc is-disabled" name="cursystime" value="---" maxlength="51" readonly="">
											</div>
										</div>
							 		</div>
						 		</div>
				 			</div>
				 			<div class="clearfix">
					 			<div>
					 				<div style="float:left; width:40%; padding: 6px 0 0 0;">
							 			<div class="field-container text clearfix">
							 				<div style="width: 10%; float: left;">
								 				<input type="radio" id="setfromcurpctime" name="setmicroloktime" value="pctime" class="cfgproc fix-ibox-padding">
											</div>
											<div style="width: 90%; float: left;">
												<label for="setfromcurpctime" style="font-size:13px;font-weight:100;">Set from computer's time</label>
											</div>
								 		</div>
							 		</div>
						 		</div>
				 			</div>
				 			<div class="clearfix">
						<div>
							<div style="float:right; width:62%; margin-top:-40px;">
								<div class="field-container text clearfix">
									<div style="width: 10%; float: left;">
										<input type="radio" id="setfromcustomtime" name="setmicroloktime" value="customtime" class="cfgproc fix-ibox-padding">
									</div>
									<div style="width: 90%; float: left;">
										<label for="setfromcustomtime" style="font-size:13px;font-weight:100;">Set from specific time</label>
									</div>
								</div>
							</div>
						</div>
				 			</div>
							<div style="float:left;	width:60%;display:none;" id="showcomptime">
								<div class="field-container text clearfix">
									<div class="iw is-disable" id="divcurpctime">
										<input id="curpctime" class="cfgproc is-disabled" name="curpctime" value="---" maxlength="51" readonly="">
									</div>
								</div>
							</div>
							</div>
							<div class="field-group clearfix" style="margin: 6px 0px 0px 0;display:none;" id="firstdiv">
								<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
									<div style="padding:5px 0px 10px 10px; clear: both">
										<div>
										<label style="font-size:13px;border-bottom: #E8EEF1 1px solid;width:100%;	padding-bottom:6px;padding-right:554px;color: #20394F;"> Time Source</label>
									 </div>
									 <div>
										 <span style="width:143px;display:inline-block; margin-top: 7px; margin-right:10px; float: left;font-size:12px;font-weight:100;">Time Source Selection:</span><br>
									 				<div style="width:0%;margin-top:12px;margin-left:6px;">
										 				<input type="radio" id="Time_Type1" name="Time_Type" value="Manual" class="cfgproc fix-ibox-padding">
													</div>
													<div style="width:51%;margin:-21px -78px;">
														<label for="Time_Type1" style="font-size:13px;font-weight:100;">Manual Time Entry</label>
													</div>

													<div style="width:0%;margin-top:2px;margin-left:257px;">
										 				<input type="radio" id="Time_Type0" name="Time_Type" value="NTP" class="cfgproc fix-ibox-padding">
													</div>
													<div style="width:117%;margin:-21px -78px;">
														<label for="Time_Type0" style="font-size:13px;font-weight:100;">NTP</label>
													</div>
									</div>
									</div>
								</div>
							</div>
							<div class="field-group clearfix" style="margin: 6px 0px 0px 0;display:none;" id="seconddiv">
								<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
									<div style="padding:5px 0px 10px 10px; clear: both">
										<div>
										<label style="font-size:13px;border-bottom: #E8EEF1 1px solid;width:100%;	padding-bottom:6px;padding-right:510px;color: #20394F;">Manual Time Entry</label>
									 </div>
										<div style="float:left; width:60%;" id="showcusttime">
											<div class="field-container text clearfix">
												<div class="iw col-sm-12" id="divcustomtime">
													<input id="customtime" class="cfgproc" name="customtime" value="" maxlength="51">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="field-group clearfix" style="margin: 6px 0px 0px 0;display:none;" id="thirddiv">
								<div style="margin: 10px 0;  text-align: center; padding-bottom: 13px;">
									<div style="padding:5px 0px 10px 10px; clear: both">
										<div>
										<label style="font-size:13px;border-bottom: #E8EEF1 1px solid;width:100%;	padding-bottom:6px;padding-right:590px;color: #20394F;">NTP	</label>
									 </div>
										<div style="float:left; width:60%;">
											<div class="field-container text clearfix">
												<div style="margin-right:274px;">
													<label for="NTP_Address" style="font-size:13px;">NTP Server(s):</label>
													  <label style="font-size: 80%">Comma-separated</label>
													<textarea class="iw is-disabled" type="text" pattern="[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\,*" id="NTP_Address"
											 name="NTP_Address" style="height:30px;width:620px;" disabled>169.254.2.1</textarea>
												</div>
											</div>
										</div>
										<div style="float:left; width:60%;">
											<div class="field-container text clearfix">
												<div style="margin-right:293px;">
													<label for="TimeZone" style="font-size:13px;">Time Zone:</label>
													<select class="cfgproc" id="TimeZone" name="TimeZone">
												<option value="-12">(GMT -12:00) Eniwetok, Kwajalein
												<option value="-11">(GMT -11:00) Midway Island, Samoa
												<option value="-10">(GMT -10:00) Hawaii
												<option value="-9">(GMT -9:00) Alaska
												<option value="-8">(GMT -8:00) Pacific Time (US &amp; Canada)
												<option value="-7">(GMT -7:00) Mountain Time (US &amp; Canada)
												<option value="-6">(GMT -6:00) Central Time (US &amp; Canada), Mexico City
												<option value="-5">(GMT -5:00) Eastern Time (US &amp; Canda), Bogota, Lima
												<option value="-4">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz
												<option value="-3.5">(GMT -3:30) Newfoundland
												<option value="-3">(GMT -3:00) Brazil, Buenos Aires, Georgetown
												<option value="-2">(GMT -2:00) Mid-Atlantic
												<option value="-1">(GMT -1:00) Azores, Cape Verde Islands
												<option value="0">(GMT) Western Europe Time, London, Lisbon, Casablanca
												<option value="1">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris
												<option value="2">(GMT +2:00) Kalingrad, South Africa
												<option value="3">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg
												<option value="3.5">(GMT +3:30) Tehran
												<option value="4">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi
												<option value="4.5">(GMT +4:30) Kabul
												<option value="5">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent
												<option value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi
												<option value="5.45">(GMT +5:45) Kathmandu
												<option value="6">(GMT +6:00) Almaty, Dhaka, Colombo
												<option value="7">(GMT +7:00) Bangkok, Hanoi, Jakarta
												<option value="8">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong
												<option value="9">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk
												<option value="9.5">(GMT +9:30) Adelaide, Darwin
												<option value="10">(GMT +10:00) Eastern Australia, Guam, Vladivostok
												<option value="11">(GMT +11:00) Magadan, Solomon Islands, New Caledonia
												<option value="12">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka
												<option value="13">(GMT +13:00) Nuku'alofa
											    </select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix">
					 			<div class="field-container text clearfix">
									<% if (edit_mode == "1" && enableSessionTimeout == 'true') { %>
				 						<a id="set_mlk_time" class="button" onclick="return false;" href="#" style="text-decoration:none;">Set MicroLok Time</a>
									<% } else { %>
									<% } %>
						 		</div>
				 			</div>

					</div>
				</form>
				</div>
<% include footer %>
<script src="/public/js/systime.js"></script>
